<template>
    <li>{{ attribute.attribute }} - {{ attribute.value }} {{ attribute.dimention }} <slot name="edit"></slot><slot name="delete"></slot></li>
</template>

<script>
export default {
    props: {
        attribute: Object
    }
}
</script>