<template>
    <div>
        <div class="modal fade" :id="`editAddAttribute${this.index}`" tabindex="-1" role="dialog" :aria-labelledby="`editAddAttribute${this.index}Label`" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" :id="`editAddAttribute${this.index}Label`">
                        {{ editableAttribute ? 'Изменение' : 'Создание' }} атрибута
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span class="text-danger" v-if="!newAttribute.id">Выберите атрибут</span>
                    <form :class="{
                        'd-flex': true,
                        'd-flex justify-content-around': newAttribute.id
                    }">
                        <div class="form-group">
                            <label for="attribute_name" style="display: block">Атрибут</label>
                            <select id="attribute_name" v-model="newAttribute.id" class="form-control">
                                <option v-for="(attribute, index) in attributes" :key="index" :value="attribute.id">{{ attribute.name }}</option>
                            </select>
                        </div>
                        <div class="form-group" v-if="newAttribute.id">
                            <label for="attribute_value" style="display: block">Значение</label>
                            <input type="text" class="form-control" id="attribute_value" v-model="newAttribute.value">
                        </div>
                        <div class="form-group" v-if="newAttribute.id">
                            <label for="attribute_dimention" style="display: block">Измерение</label>
                            <select id="attribute_dimention" class="form-control" v-model="newAttribute.dimention_id">
                                <option v-for="(dimention, index) in dimentions" :key="index" :value="dimention.id">{{ dimention.name }}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" :disabled="!newAttribute.id || !newAttribute.value || !newAttribute.dimention_id" v-on:click="editableAttribute ? update() : create()" class="btn btn-primary">Сохранить</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        attributes: Array,
        editableAttribute: Object,
        index: String
    },
    data() {
        return {
            newAttribute: {
                id: 0,
                value: '',
                dimention_id: null,
                attribute: '',
                dimention: ''
            }
        }
    },
    computed: {
        dimentions: function() {
            if(this.newAttribute.id) {
                return this.attributes.find(attribute => attribute.id == this.newAttribute.id).dimentions;
            }
            return [];
        }
    },
    watch: {
        'newAttribute.id': function(newVal, oldVal) {
            const attribute = this.attributes.find(attribute => attribute.id == newVal);
            if(attribute) {
                this.newAttribute.attribute = attribute.name;
            }
        },
        'newAttribute.dimention_id': function(newVal, oldVal) {
            const dimention = this.dimentions.find(dimention => dimention.id == newVal);
            if(dimention) {
                this.newAttribute.dimention = dimention.name;
            }
        },
      	editableAttribute: function(newVal, oldVal) {
            if(newVal) {
                this.newAttribute = newVal;
            }
        }
    },
    methods: {
        create() {
            this.$emit('createAttribute', {attribute: this.newAttribute});
            this.newAttribute = {
                id: 0,
                value: '',
                dimention_id: null,
                attribute: '',
                dimention: ''
            };
        },
        update() {
            this.$emit('updateAttribute', {attribute: this.newAttribute});
            this.newAttribute = {
                id: 0,
                value: '',
                dimention_id: null,
                attribute: '',
                dimention: ''
            };
        }
    }
}
</script>