<template>
    <div>
        <div class="modal fade" id="editAddVariation" tabindex="-1" role="dialog" aria-labelledby="editAddVariationLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editAddVariation">
                        {{ editableVariation ? 'Изменение' : 'Создание' }} вариации
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form :class="{
                        'd-flex': true,
                        'd-flex justify-content-around': editableVariation
                    }">
                        <div class="form-group">
                            <label for="variation_sku" style="display: block">Артикул</label>
                            <input type="text" class="form-control" id="variation_sku" v-model="newVariation.sku">
                        </div>
                        <div class="form-group">
                            <label for="variation_price" style="display: block">Цена</label>
                            <input type="text" class="form-control" id="variation_price" v-model="newVariation.price">
                        </div>
                        <div class="form-group">
                            <label for="variation_discount" style="display: block">Цена по скидке</label>
                            <input type="text" class="form-control" id="variation_discount" v-model="newVariation.discount">
                        </div>
<!--                        <div class="form-group">-->
<!--                            <label for="variation_cashback" style="display: block">Кэшбэк</label>-->
<!--                            <input type="text" class="form-control" id="variation_cashback" v-model="newVariation.cashback">-->
<!--                        </div>-->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" :disabled="!validateData()" data-dismiss="modal" v-on:click="editableVariation ? update() : create()">Сохранить</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        editableVariation: Object
    },
    data() {
        return {
            newVariation: {
                cashback: 0,
                discount: 0,
                price: 0,
                sku: '',
                attributes: [],
                main_attributes: []
            }
        }
    },
    created() {
        console.log(this.editableVariation)
    },
    watch: {
      	editableVariation: function(newVal, oldVal) {
            if(newVal) {
                this.newVariation = newVal;
            }
        }
    },
    methods: {
        validateData() {
            return this.newVariation.cashback || this.newVariation.discount || this.newVariation.price || this.newVariation.sku;
        },
        create() {
            this.$emit('createVariation', {variation: this.newVariation});


        },
        update() {
            this.$emit('updateVariation', {variation: this.newVariation});

        }
    }
}
</script>

<style lang="scss" scoped>

</style>
