<template>
    <div class="variation-card">
        <div>
            <ul>
                <li><b>Артикул:</b><span>{{ variation.sku }}</span></li>
                <li><b>Цена:</b><span>{{ variation.price }}</span></li>
            </ul>
            <ul>
                <li><b>Цена по скидке:</b><span>{{ variation.discount }}</span></li>
            </ul>
            <slot name="edit"></slot>
            <slot name="delete"></slot>
        </div>
        <div class="">

        </div>
    </div>
</template>

<script>
import Attribute from './Attribute';
import EditAddAttribute from './EditAddAttribute';
import { mapGetters } from 'vuex';

export default {
    props: {
        variation: Object
    },
    data() {
        return {
            editableAttribute: null
        }
    },
    components: {
        Attribute,
        EditAddAttribute
    },
    computed: {
        ...mapGetters({
            attributesStore: 'attributes'
        })
    },
    methods: {
        async createAttribute(event) {
            const response = await axios.post(`/admin/variations/${this.variation.id}/attributes`, event.attribute);
            event.attribute.id = response.data.id;
            this.variation.attributes.push(event.attribute);
        },
        async updateAttribute(event) {
            const response = await axios.post(`/admin/variations/${this.variation.id}/attributes/${event.attribute.id}`, event.attribute);
        },
        async deleteAttribute(attribute) {
            const index = this.variation.all_attributes.indexOf(attribute);
            const response = await axios.delete(`/admin/attributes/${attribute.id}`);
            this.variation.all_attributes.splice(index, 1);
        }
    }
}
</script>

<style lang="scss">
    .d-flex {
        display: flex;
    }
    .justify-content-around {
        justify-content: space-around;
    }
</style>
