<template>
    <div>
        <div>
            <VariationCard v-for="(variation, index) in variations" :key="index" :variation="variation">
                <template v-slot:edit>
                    <a data-toggle="modal" data-target="#editAddVariation" v-on:click="editableVariation = variation">Изменить цену</a>
                </template>
                <template v-slot:delete>
                    <a href="#" v-on:click.prevent="deleteVariation(variation)">Удалить</a>
                </template>
            </VariationCard>
        </div>
        <button class="btn btn-primary" v-if="variations.length === 0" type="button" data-toggle="modal" data-target="#editAddVariation" v-on:click="editableVariation = null">Добавить цену</button>
        <EditAddVariation
            :editableVariation="editableVariation"
            v-on:createVariation="createVariation"
            v-on:updateVariation="updateVariation"
        />
    </div>
</template>

<script>
import VariationCard from "./VariationCard";
import EditAddVariation from "./EditAddVariation";
import { mapActions } from 'vuex';

export default {
    props: {
        productId: Number
    },
    components: {
        VariationCard,
        EditAddVariation
    },
    data() {
        return {
            variations: [],
            editableVariation: null
        }
    },
    async created() {
        const response = await axios.get(`/api/products/${this.productId}/variations`);
        this.variations = response.data;
        const attributes = await axios.get('/api/attributes');
        this.setAttributes(attributes.data);


    },
    methods: {
        async createVariation(event) {
            const response = await axios.post(`/admin/products/${this.productId}/variations`, event.variation);
            this.variations.push(response.data);
        },
        async updateVariation(event) {
            const response = await axios.post(`/admin/products/${this.productId}/variations/${event.variation.id}`, event.variation);
        },
        async deleteVariation(variation) {
            const index = this.variations.indexOf(variation);
            const response = await axios.delete(`/admin/variations/${variation.id}`);
            this.variations.splice(index, 1);
        },
        ...mapActions([
            'setAttributes'
        ])
    }
}
</script>

<style lang="scss" scoped>

</style>
