@import "../utils/mixins";
@import "../utils/variables";

#about {
    h1 {
        @include text(Comfortaa, 24px, 1.2, 700, #545454);
        margin-bottom: 1rem;
    }
    p {
        @include text(Comfortaa, 16px, 1.2, 500, #545454);
        margin-bottom: 1rem;
    }
    img {
        width: 100%;
        object-fit: none;
    }
}
