@import "../utils/mixins";
@import "../utils/variables";

#cabinet {
    .title {
        @include text(Comfortaa, 60px, 1.2, 900, rgb(84, 84, 84));
    }
    form:first-child {
        label {
            @include text(Comfortaa, 16px, 1.2, 700, rgb(34, 34, 34));
            @include flex(column, nowrap, flex-start, flex-start);
            width: 100%;
        }
        .form-control {
            @include text(Comfortaa, 14px, 1.2, 500, rgb(34, 34, 34));
            border: 1px solid rgb(235, 235, 235);
            height: 43px;
            margin-top: 0.75rem;
            width: 100%;
            border-radius: 0;
            &::-webkit-input-placeholder,
            &:-moz-placeholder,
            &::-moz-placeholder,
            &:-ms-input-placeholder,
            &::placeholder {
                color: rgb(153, 153, 153);
            }
        }
        button {
            @include text(Comfortaa, 18px, 1.667, 700, rgb(255, 255, 255));
            background-color: rgb(255, 0, 0);
            width: 100%;
            height: 56px;
            border: none;
        }
    }
    form:last-child {
        h2 {
            @include text(Comfortaa, 16px, 1.2, 700, rgb(34, 34, 34));
            margin-bottom: 0.75rem;
        }
        img {
            background-color: rgb(255, 255, 255);
            width: 190px;
            height: 190px;
            object-fit: cover;
        }
        .file-control {
            flex: 0 0 45%;
            label {
                @include text(Comfortaa, 18px, 1.2, 700, rgb(255, 255, 255));
                @include flex(row, nowrap, center, center);
                background-color: rgb(255, 0, 0);
                max-width: 200px;
                width: 100%;
                height: 56px;
                margin-bottom: 1.5rem;
                cursor: pointer;
            }
            input {
                display: none;
            }
            button {
                @include text(Comfortaa, 18px, 1.2, 700, rgb(255, 0, 0));
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 0px 38.76px 12.24px rgba(255, 0, 0, 0.1);
                max-width: 200px;
                width: 100%;
                height: 56px;
                border: none;
            }
        }
        a {
            @include text(Comfortaa, 14px, 1.2, 500, rgb(84, 84, 84));
            @include flex(row, nowrap, center, flex-start);
            &::before {
                content: "\f2ed";
                font-family: "Font Awesome 5 Pro";
                font-weight: 300;
                margin-right: 0.8rem;
                font-size: 18px;
            }
        }
    }
    .card {
        border: none;
    }
    .btn-secondary:not(:disabled):not(.disabled):active,
    .btn-secondary:not(:disabled):not(.disabled).active,
    .show > .btn-secondary.dropdown-toggle {
        background-color: rgb(255, 0, 0);
        border: unset;
        color: #fff;
    }
    .btn-secondary:not(:disabled):not(.disabled):active:focus,
    .btn-secondary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-secondary.dropdown-toggle:focus {
        box-shadow: unset;
    }
    .card-header {
        background-color: unset;
        border: none;
        .btn {
            @include flex(row, nowrap, center, flex-start);
            @include text(GTWalsheimPro, 16px, 1, bold, #fff);
            border: none;
            box-shadow: unset;
            border-radius: 10px;
            max-width: 229px;
            height: 42px;
        }
    }
    .card-body {
        padding: 0.75rem 1.25rem;
        ul {
            padding-left: 2rem;
            list-style: none;
            li {
                a {
                    @include text(GTWalsheimPro, 16px, 2.25, bold, #545454);

                    &.router-link-exact-active {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
