@import "../utils/mixins";
@import "../utils/variables";
@import "../components/slick-theme.scss";
@import "../components/slick.scss";

#card {
    .slider-nav {
        .slick-slide img {
            width: 100%;
            object-fit: scale-down;
            height: 100%;
        }
        .slick-slide {
            margin: 10px 0;
            max-width: 121px;
            height: 80px;
        }
        .slick-list {
            margin: -10px 0;
        }
    }
    .slider-for {
        .slick-slide {
            height: 585px;
            img {
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }
    }
    .title {
        @include text(Comfortaa, 48px, 1.146, 900, rgb(84, 84, 84));
    }
    .category {
        @include text(Comfortaa, 14px, 2.571, bold, rgb(255, 0, 0));
        @include flex(row, nowrap, center, center);
        border-radius: 10px;
        background-color: rgb(254, 245, 238);
        width: 100%;
        max-width: 149px;
        height: 31px;
    }
    .rating {
        @include flex(row, nowrap, center, space-between);
        width: 100%;
        max-width: 100px;
        .rating-star {
            display: inline-block;
            vertical-align: middle;
            line-height: 1;
            font-size: 17px;
            color: rgb(235, 235, 235);
            transition: color 0.2s ease-out;
            font-weight: 600;
            &.selected {
                color: rgb(255, 198, 0);
            }
        }
    }
    .price {
        @include text(Comfortaa, 48px, 1.2, 900, rgb(255, 0, 0));
    }
    .bonuses {
        @include text(Comfortaa, 16px, 2.25, 500, rgb(84, 84, 84));
        span {
            font-weight: 900;
            color: rgb(255, 198, 0);
        }
    }
    #cartForm {
        max-width: 250px;
        h4 {
            @include text(Comfortaa, 14px, 2.571, 600, rgb(84, 84, 84));
        }
        .form-group {
            label {
                @include flex(row, nowrap, center, center);
                @include text(Comfortaa, 14px, 1.2, 700, rgb(84, 84, 84));
                background-color: rgb(255, 255, 255);
                border-width: 1px;
                border-color: rgb(254, 245, 238);
                border-style: solid;
                height: 45px;
                width: 65px;
                cursor: pointer;
                transition: all 0.3s ease;
                &:hover {
                    background-color: rgb(254, 245, 238);
                }
            }
            input[type="radio"] {
                display: none;
                &:checked + label {
                    background-color: rgb(254, 245, 238);
                }
            }
            .weight {
                @include text(Comfortaa, 14px, 2.571, 500, rgb(84, 84, 84));
            }
            .quantity-controls {
                @include flex(row, nowrap, center, flex-start);
                max-width: 170px;
                button {
                    @include text(Comfortaa, 36px, 1, 700, rgb(34, 34, 34));
                    background-color: rgb(255, 255, 255);
                    border-width: 1px;
                    border-color: rgb(254, 245, 238);
                    border-style: solid;
                    width: 56px;
                    height: 54px;
                    transition: all 0.3s ease;
                    &:hover,
                    &:focus,
                    &:active {
                        background-color: rgb(254, 245, 238);
                    }
                }
                input {
                    @include text(Comfortaa, 24px, 1, 700, rgb(34, 34, 34));
                    background-color: rgb(255, 255, 255);
                    text-align: center;
                    border-width: 1px;
                    border-color: rgb(254, 245, 238);
                    border-style: solid;
                    width: 56px;
                    height: 54px;
                }
            }
            .cart-btn {
                @include text(Comfortaa, 18px, 1.667, 600, rgb(255, 255, 255));
                background-color: rgb(255, 0, 0);
                box-shadow: 0px 7px 26.97px 2.03px rgba(255, 0, 0, 0.31);
                width: 100%;
                max-width: 186px;
                height: 56px;
                border: none;
            }
        }
    }
    @import "../components/productsCarousel.scss";
}
