@import "../utils/mixins";
@import "../utils/variables";
@import "../components/slick-theme.scss";
@import "../components/slick.scss";
@import "~vue-datetime/dist/vue-datetime.css";
#cart {
    .pickupAt {
        border: none;
        align-items: center;
        input[type="radio"] {
            display: none;
            &:checked + label {
                background-color: rgb(255, 0, 0);
                color: #fff;
            }
        }
        label {
            @include text(Comfortaa, 18px, 1.667, 700, rgb(84, 84, 84));
            @include flex(row, nowrap, center, center);
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 12px 43px 0px rgba(255, 0, 0, 0.18);
            max-width: 281px;
            width: 100%;
            height: 56px;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
                background-color: rgb(255, 0, 0);
                color: #fff;
            }
        }
    }
    .vdatetime-popup {
        z-index: 1000000;
    }
    .vm--modal {
        overflow: visible;
    }
    .vm--container {
        z-index: 100000000000;
        .form-group--error {
            animation-name: shakeError;
            animation-fill-mode: forwards;
            animation-duration: 0.6s;
            animation-timing-function: ease-in-out;
            position: relative;
        }
        h1 {
            font-size: 35px;
            font-family: "Comfortaa";
            color: rgb(84, 84, 84);
            line-height: 1.571;
            font-weight: 900;
        }
        .confirm-btn {
            font-size: 18px;
            font-family: "Comfortaa";
            color: rgb(255, 255, 255);
            font-weight: 600;
            line-height: 1.667;
            background-color: rgb(255, 0, 0);
            height: 56px;
            width: 100%;
            border: none;
            &:disabled {
                background-color: #f8f8f8;
                color: #08050b;
            }
        }
        .close-btn {
            background-color: rgb(255, 0, 0);
            box-shadow: 0px 10px 20.16px 0.84px rgba(255, 0, 0, 0.21);
            width: 35px;
            height: 35px;
            font-size: 14px;
            border: none;
            color: #fff;
            position: absolute;
            top: -10px;
            right: -10px;
        }
        .form-group {
            margin-bottom: 1.5rem;
            label {
                font-size: 16px;
                font-family: "Comfortaa";
                color: rgb(34, 34, 34);
                line-height: 1.2;
                font-weight: 700;
                width: 100%;
                text-align: left;
            }
            input {
                border-width: 1px;
                border-color: rgb(235, 235, 235);
                border-style: solid;
                height: 43px;
                width: 100%;
                font-size: 14px;
                font-family: "Comfortaa";
                color: rgb(34, 34, 34);
                line-height: 1.2;
                font-weight: 600;
                margin-top: 0.5rem;
                border-radius: 0;
                &::-webkit-input-placeholder,
                &:-moz-placeholder,
                &::-moz-placeholder,
                &:-ms-input-placeholder,
                &::placeholder {
                    color: rgb(124, 124, 124);
                }
            }
            button {
                font-size: 18px;
                font-family: "Comfortaa";
                color: rgb(255, 255, 255);
                font-weight: 600;
                line-height: 1.667;
                background-color: rgb(255, 0, 0);
                height: 56px;
                width: 100%;
                border: none;
                &:disabled {
                    background-color: #f8f8f8;
                    color: #08050b;
                }
            }
            p {
                font-size: 16px;
                font-family: "Comfortaa";
                color: rgb(34, 34, 34);
                line-height: 1.2;
                font-weight: 500;
            }
            a {
                font-size: 16px;
                font-family: "Comfortaa";
                color: rgb(255, 0, 0);
                text-transform: uppercase;
                line-height: 1.2;
                font-weight: 600;
            }
        }
    }
    .cart-item {
        overflow-x: scroll;
        flex-wrap: nowrap;
        padding: 1.5rem 0;
        max-height: 200px;
        border-width: 1px;
        border-color: rgb(254, 245, 238);
        border-style: solid;
        background-color: rgb(255, 255, 255);
        transition: all 0.3s ease;
        &:hover {
            box-shadow: 0px 12px 43px 0px rgba(255, 0, 0, 0.1);
            transform: scale(1.01);
        }
        img {
            background-color: rgb(255, 255, 255);
            width: 147px;
            height: 149px;
            object-fit: contain;
        }
        .name {
            @include text(Comfortaa, 24px, 1.25, 600, rgb(37, 37, 45));
        }
        .sizes {
            @include text(Comfortaa, 14px, 2.571, 600, rgb(84, 84, 84));
        }
        label {
            @include flex(row, nowrap, center, center);
            @include text(Comfortaa, 14px, 1.2, 700, rgb(84, 84, 84));
            background-color: rgb(255, 255, 255);
            border-width: 1px;
            border-color: rgb(254, 245, 238);
            border-style: solid;
            height: 45px;
            width: 65px;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
                background-color: rgb(254, 245, 238);
            }
        }
        input[type="radio"] {
            display: none;
            &:checked + label {
                background-color: rgb(254, 245, 238);
            }
        }
        .weight {
            @include text(Comfortaa, 14px, 2.571, 500, rgb(84, 84, 84));
        }
        .bonuses {
            @include text(Comfortaa, 14px, 2.571, 500, rgb(84, 84, 84));
            span {
                font-weight: 900;
                color: #ffc600;
            }
        }
        .price {
            @include text(Comfortaa, 21px, 1, 600, rgb(37, 37, 45));
        }

        .quantity-controls {
            @include flex(row, nowrap, center, flex-start);
            max-width: 170px;
            button {
                @include text(Comfortaa, 36px, 1, 700, rgb(34, 34, 34));
                background-color: rgb(255, 255, 255);
                border-width: 1px;
                border-color: rgb(254, 245, 238);
                border-style: solid;
                width: 56px;
                height: 54px;
                transition: all 0.3s ease;
                &:hover,
                &:focus,
                &:active {
                    background-color: rgb(254, 245, 238);
                }
            }
            input {
                @include text(Comfortaa, 24px, 1, 700, rgb(34, 34, 34));
                background-color: rgb(255, 255, 255);
                text-align: center;
                border-width: 1px;
                border-color: rgb(254, 245, 238);
                border-style: solid;
                width: 56px;
                height: 54px;
            }
        }
        .quantum {
            @include text(Comfortaa, 21px, 1.2, 600, rgb(37, 37, 45));
            text-align: center;
        }
        i {
            display: block;
            text-align: center;
            color: rgb(170, 170, 170);
            font-size: 17px;
            cursor: pointer;
        }
    }
    .back-to-shopping {
        @include text(Comfortaa, 18px, 1.667, 700, rgb(255, 255, 255));
        @include flex(row, nowrap, center, center);
        background-color: rgb(255, 0, 0);
        width: 281px;
        height: 56px;
    }
    .pickup-time {
        cursor: pointer;
        @include text(Comfortaa, 18px, 1.667, 700, rgb(84, 84, 84));
        @include flex(row, nowrap, center, center);
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 12px 43px 0px rgba(255, 0, 0, 0.1);
        width: 150px;
        height: 56px;
        margin-left: 1rem;
        object {
            width: 40px;
            pointer-events: none;
        }
    }
    .form-group {
        h2 {
            @include text(Comfortaa, 24px, 1.2, 600, rgb(34, 34, 34));
        }
        h3 {
            @include text(Comfortaa, 16px, 1.2, 700, rgb(84, 84, 84));
        }
        .custom-control-label {
            @include text(Comfortaa, 14px, 1.2, 500, rgb(34, 34, 34));
        }
        .custom-control-input {
            height: auto;
        }
        .custom-switch .custom-control-label::after {
            top: calc(0px + 2px);
        }
        .custom-switch .custom-control-label::before {
            top: 0;
        }
        .form-check {
            .form-check-label {
                @include text(Comfortaa, 14px, 1.2, 500, rgb(34, 34, 34));
            }
            .form-check-input {
                width: 1rem;
                height: 1rem;
            }
        }
        input:not([type="radio"]) {
            @include text(Comfortaa, 16px, 1.2, 500, rgb(34, 34, 34));
            border-radius: 0;
            border-width: 1px;
            border-color: rgb(235, 235, 235);
            border-style: solid;
            height: 43px;
            &::-webkit-input-placeholder,
            &:-moz-placeholder,
            &::-moz-placeholder,
            &:-ms-input-placeholder,
            &::placeholder {
                color: rgb(124, 124, 124);
            }
        }
        textarea {
            @include text(Comfortaa, 16px, 1.2, 500, rgb(34, 34, 34));
            border-radius: 0;
            border-width: 1px;
            border-color: rgb(235, 235, 235);
            border-style: solid;
            height: 100px;
            resize: none;
            &::-webkit-input-placeholder,
            &:-moz-placeholder,
            &::-moz-placeholder,
            &:-ms-input-placeholder,
            &::placeholder {
                color: rgb(124, 124, 124);
            }
        }
        .total_quantity,
        .total_price {
            @include flex(row, nowrap, center, space-between);
            p {
                @include text(Comfortaa, 14px, 1.2, 500, rgb(34, 34, 34));
            }
            h4 {
                @include text(Comfortaa, 18px, 1.2, 600, rgb(34, 34, 34));
            }
        }
        button[type="submit"] {
            @include text(Comfortaa, 18px, 1.667, 600, rgb(255, 255, 255));
            background-color: rgb(255, 0, 0);
            max-width: 270px;
            width: 100%;
            height: 56px;
            border: none;
        }
    }
    .bonus-checked {
        width: 100%;
        height: 122px;
        @include flex(row, wrap, center, space-between);
        padding: 1rem 2rem;
        border-radius: 15px;
        background-color: rgb(246, 246, 246);
        p {
            font-family: Comfortaa;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 500;
            color: #222222;
        }
        .bonus_card {
            @include flex(column, nowrap, center, space-between);
            height: 90px;
            background: #fff;
            border-radius: 15px;
            font-family: Comfortaa;
            font-size: 17px;
            line-height: 1.2;
            font-weight: 500;
            color: #222222;
            width: 135px;
            padding: 1.5rem 1rem;
            &.active {
                color: #fff;
                background-color: rgb(255, 0, 0);
            }
        }
    }
    @import "../components/productsCarousel.scss";
}
@media (max-width: 1024px) {
    #cart section:nth-child(2) {
        background-image: none;
    }
}
