@import "../utils/mixins";
@import "../utils/variables";

#catalog {
    .title {
        @include text(Comfortaa, 60px, 1.2, 900, rgb(84, 84, 84));
    }
    h3 {
        @include flex(row, nowrap, center, flex-start);
        @include text(Comfortaa, 25px, 1.2, 700, rgb(84, 84, 84));
        height: 50px;
        &:before {
            font-family: "Font Awesome 5 Pro";
            font-weight: 300;
            content: "\f0b0";
            font-size: 30px;
            margin-right: 0.75rem;
        }
    }
    .filters {
        @include flex(column, nowrap, stretch, space-between);
        background-color: #fff;
        position: sticky;
        top: 0;
        border-width: 2px;
        border-color: rgb(254, 245, 238);
        border-style: solid;
        background-color: rgb(255, 255, 255);
        .card {
            border: none;
        }
        .card-body,
        .card-header {
            padding: 0.75rem 0;
            margin: 0 1.25rem;
        }
        .card-header,
        .card-header .btn {
            background-color: unset;
            border: none;
        }
        .card-body {
            border-bottom: 1px solid rgba(201, 201, 201, 0.2);
            ul {
                padding: 0;
                list-style: none;
                li {
                    margin-bottom: 1rem;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    label {
                        @include text(Comfortaa, 14px, 1, 500, rgb(63, 62, 65));
                        @include flex(row, nowrap, center, flex-start);
                        input {
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }
        .apply-btn {
            @include text(Comfortaa, 16px, 1.2, 700, #fff);
            background-color: rgb(255, 0, 0);
            max-width: 195px;
            width: 100%;
            margin: 0 auto;
            height: 50px;
            border: none;
            display: block;
            outline: none;
        }
        .reset-btn {
            @include text(Comfortaa, 17px, 1.2, normal, rgb(154, 154, 154));
            background: none;
            border: none;
            text-decoration: underline;
            position: relative;
            outline: none;
            &::before {
                font-family: "Font Awesome 5 Pro";
                content: "\f021";
                position: absolute;
                right: 100%;
                top: 0;
            }
        }
        .card-header .btn {
            @include text(Comfortaa, 16px, 1.25, 500, rgb(63, 62, 65));
            @include flex(row, nowrap, center, space-between);
            box-shadow: unset;
            padding: 0;
            i {
                transition: all 0.2s ease;
                transform-origin: 50% 60%;
            }
            &.not-collapsed i {
                transform: rotate(-180deg);
            }
        }
        .vue-range-slider.slider-component .slider {
            height: 3px !important;
            background-color: rgb(230, 230, 230);
        }
        .vue-range-slider.slider-component
            .slider-tooltip-wrap
            .slider-tooltip {
            background-color: rgb(255, 0, 0);
            border-color: rgb(255, 0, 0);
            @include text(Comfortaa, 14px, 1, 500, rgb(255, 255, 255));
        }
        .vue-range-slider.slider-component .slider .slider-process {
            background-color: rgb(255, 0, 0);
        }
        .vue-range-slider.slider-component .slider .slider-dot {
            border-radius: 0;
            background-color: rgb(255, 0, 0);
            width: 20px;
            height: 20px;
            box-shadow: none;
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        color: rgb(255, 0, 0);
        background: transparent;
        border: none;
        @media (max-width: 768px) {
            display: none;
        }
    }
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
        left: 100%;
        right: unset;
    }
    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        right: 100%;
        left: unset;
    }
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
    }
    .swiper-slide {
        .category {
            label {
                width: 100%;
                height: 85px;
                @include flex(row, nowrap, center, center);
                @include text(Comfortaa, 19px, 1.2, 600, rgb(84, 84, 84));
                background-color: rgb(254, 245, 238);
                cursor: pointer;
            }
            input {
                display: none;
                &:checked + label {
                    background-color: rgb(255, 0, 0);
                    color: #fff;
                }
            }
        }
    }
    .sorters {
        @include flex(row, wrap, flex-end, space-between);
        padding: 0;
        list-style: none;
        border-bottom: 1px solid rgb(201, 201, 201);
        li {
            flex: 0 0 200px;
            height: 50px;
            @include flex(row, nowrap, center, center);
            p {
                @include text(Comfortaa, 14px, 1.2, 700, rgb(39, 51, 60));
            }
            .btn {
                @include text(Comfortaa, 14px, 1.2, 500, rgb(116, 116, 116));
                background-color: rgba(255, 255, 255, 0);
                border: none;
                height: 100%;
                width: 100%;
                border-radius: 0;
                span {
                    pointer-events: none;
                }
                i {
                    pointer-events: none;
                    display: none;
                    font-size: 28px;
                }
                &:focus,
                &.focus {
                    box-shadow: unset;
                }
                &.active {
                    color: rgb(255, 255, 255);
                    font-weight: 700;
                    background-color: rgb(255, 0, 0);
                }
            }
        }
    }
    .product-card {
        position: relative;
        @include flex(column, nowrap, stretch, flex-start);
        height: 100%;
        .product-header {
            background: rgb(255, 255, 255);
            border-top: 2px solid rgb(254, 245, 238);
            border-left: 2px solid rgb(254, 245, 238);
            border-right: 2px solid rgb(254, 245, 238);
        }
        .product-body {
            background: rgb(255, 255, 255);
            border-bottom: 2px solid rgb(254, 245, 238);
            border-left: 2px solid rgb(254, 245, 238);
            border-right: 2px solid rgb(254, 245, 238);
            flex: 1 1 200px;
        }
        a {
            display: contents;
        }
        img {
            width: 100%;
            height: 175px;
            object-fit: scale-down;
        }
        .name {
            @include text(Comfortaa, 18px, 1.2, 600, rgb(84, 84, 84));
            margin-bottom: 1rem;
        }
        .description {
            @include text(Comfortaa, 14px, 1.2, 500, rgb(199, 198, 198));
            margin-bottom: 0.75rem;
        }
        .price {
            @include text(Comfortaa, 18px, 1.2, 600, rgb(255, 0, 0));
            flex: 0 0 50%;
            padding-right: 15px;
        }
        .discount {
            flex: 0 0 50%;
            padding-left: 15px;
            @include flex(row, wrap, stretch, flex-end);
            @include text(Comfortaa, 18px, 1.2, 600, rgb(255, 198, 0));
        }
        .cart-btn {
            display: block;
            background-color: rgb(255, 0, 0);
            box-shadow: 0px 10px 20.16px 0.84px rgba(255, 0, 0, 0.21);
            width: 50px;
            height: 50px;
            border: none;
            margin: -25px auto 0 auto;
            i {
                pointer-events: none;
                font-size: 20px;
                color: rgb(255, 255, 255);
            }
        }
    }
    .pagination {
        align-items: baseline;
        li {
            margin-right: 1.5rem;
            &:last-child {
                margin-right: 0;
            }
        }
        .prev,
        .next {
            align-self: center;
            a {
                color: rgb(255, 0, 0);
                font-size: 24px;
            }
        }
        .page-item {
            a {
                @include text(Comfortaa, 18px, 1.2, bold, #545454);
            }
            &.active {
                a {
                    font-size: 22px;
                    color: rgb(255, 0, 0);
                }
            }
        }
    }
}
@media (max-width: 767px) {
    #catalog .sorters li:first-child {
        display: none;
    }
    #catalog .sorters li .btn span {
        display: none;
    }
    #catalog .sorters li .btn i {
        display: block;
    }
    #catalog .sorters li {
        flex: 1;
    }
}
@media (min-width: 768px) and (max-width: 1198px) {
    #catalog .sorters li {
        flex: 1;
    }
}
