@import "../utils/mixins";
@import "../utils/variables";

#contacts {
    .title {
        @include text(Comfortaa, 24px, 1.2, 700, #545454);
        margin-bottom: 1rem;
    }
    .contact {
        margin-bottom: 1rem;
        p {
            @include text(Comfortaa, 15px, 1.2, 500, #545454);
            margin-bottom: 0.5rem;
        }
        a,
        address {
            @include text(Comfortaa, 18px, 1.2, 600, #1f1f1f);
        }
    }
    .feedback-btn {
        @include text(Comfortaa, 14px, 1.2, 500, #ffffff);
        width: 165px;
        height: 40px;
        background: #ff0000;
        border: none;
    }
}
