@import "../utils/mixins";
@import "../utils/variables";
@import "../components/slick-theme.scss";
@import "../components/slick.scss";

#giftcard {
    .title {
        @include text(Comfortaa, 60px, 1.2, 900, rgb(84, 84, 84));
        word-break: break-all;
    }
    .card {
        border: none;
        align-items: center;
        img {
            max-width: 380px;
            height: 320px;
            object-fit: cover;
        }
        input[type="radio"] {
            display: none;
            &:checked + label {
                background-color: rgb(255, 0, 0);
                color: #fff;
            }
        }
        label {
            @include text(Comfortaa, 18px, 1.667, 700, rgb(84, 84, 84));
            @include flex(row, nowrap, center, center);
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 12px 43px 0px rgba(255, 0, 0, 0.18);
            max-width: 281px;
            width: 100%;
            height: 56px;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
                background-color: rgb(255, 0, 0);
                color: #fff;
            }
        }
    }
    .form-group {
        margin-bottom: 1.5rem;
        h2 {
            @include text(Comfortaa, 24px, 1.2, 600, rgb(34, 34, 34));
        }
        input {
            @include text(Comfortaa, 14px, 1.2, 500, rgb(84, 84, 84));
            &::-webkit-input-placeholder,
            &:-moz-placeholder,
            &::-moz-placeholder,
            &:-ms-input-placeholder,
            &::placeholder {
                color: rgb(124, 124, 124);
            }
            border-radius: 0;
            border-width: 1px;
            border-color: rgb(235, 235, 235);
            border-style: solid;
            height: 43px;
            width: 100%;
        }
        textarea {
            resize: none;
            height: 100px;
            @include text(Comfortaa, 14px, 1.2, 500, rgb(84, 84, 84));
            &::-webkit-input-placeholder,
            &:-moz-placeholder,
            &::-moz-placeholder,
            &:-ms-input-placeholder,
            &::placeholder {
                color: rgb(124, 124, 124);
            }
            border-radius: 0;
            border-width: 1px;
            border-color: rgb(235, 235, 235);
            border-style: solid;
            width: 100%;
        }
        button {
            @include text(Comfortaa, 18px, 1.667, 600, rgb(255, 255, 255));
            background-color: rgb(255, 0, 0);
            max-width: 360px;
            width: 100%;
            height: 56px;
            border: none;
        }
    }

    @import "../components/productsCarousel.scss";
}
