@import "../utils/mixins";
@import "../utils/variables";
@import "../components/slick-theme.scss";
@import "../components/slick.scss";

#home {
    .main-slider {
        .slick-slide {
            position: relative;
            background-image: var(--background-image);
            background-repeat: no-repeat;
            background-position: 100%;
            background-size: auto;
        }

        .container {
            display: block !important;
        }
        .container,
        .row {
            height: 720px;
        }
        h1 {
            @include text(Comfortaa, 50px, 1.2, 900, rgb(84, 84, 84));
            margin-bottom: 1rem;
        }
        p {
            @include text(Comfortaa, 16px, 1.2, 500, rgb(154, 154, 154));
            margin-bottom: 2rem;
            max-width: 590px;
        }
        a {
            @include text(Comfortaa, 14px, 1.2, 500, rgb(255, 255, 255));
            @include flex(row, nowrap, center, center);
            max-width: 180px;
            width: 100%;
            height: 50px;
            background-color: rgb(255, 0, 0);
        }
        img {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }
    }
    .categories {
        overflow-x: hidden;
        .title {
            @include text(Comfortaa, 45px, 1.2, 900, rgb(84, 84, 84));
        }
        a {
            display: contents;
        }
        .show-more {
            @include flex(row, nowrap, center, center);
            @include text(Comfortaa, 14px, 1.2, 500, rgb(255, 255, 255));
            background-color: rgb(255, 0, 0);
            width: 100%;
            max-width: 180px;
            height: 50px;
        }
        .food-category {
            @include flex(column, wrap, flex-start, center);
            background-color: rgb(254, 245, 238);
            height: 120px;
            padding: 0 2rem;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -1.5rem;
                background-image: var(--category-image);
                background-repeat: no-repeat;
                background-size: auto;
                background-position: 100%;
                width: 100%;
                height: 100%;
                pointer-events: none;
            }
            .category-title {
                @include text(Comfortaa, 18px, 1.2, 700, rgb(84, 84, 84));
            }
        }
        .beverage-category {
            @include flex(column, wrap, flex-start, center);
            border-width: 1px;
            border-color: rgb(240, 240, 240);
            border-style: solid;
            background-color: rgb(255, 255, 255);
            height: 78px;
            padding: 0 2rem;
            position: relative;
            &::before {
                content: "\f178";
                font-family: "Font Awesome 5 Pro";
                font-size: 35px;
                font-weight: 300;
                color: rgb(255, 0, 0);
                position: absolute;
                right: 5%;
            }
            .category-title {
                @include text(Comfortaa, 18px, 1.2, 700, rgb(84, 84, 84));
            }
        }
        .fuel {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                bottom: 3rem;
                left: 0;
                width: 100vw;
                height: 100%;
                background-color: rgb(254, 245, 238);
                transition: all 0.3s ease;
            }
            img {
                position: relative;
                width: 100%;
                object-fit: contain;
            }
        }
    }
    @import "../components/productsCarousel.scss";
}

@media (max-width: 576px) {
    #home .main-slider .slick-slide {
        background-image: none;
        background-color: #fff;
    }
    #home .main-slider h1 {
        font-size: 26px;
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    #home .main-slider .slick-slide {
        background-size: 40%;
        background-position: 100% 0;
    }
}
@media (max-width: 992px) {
    #home .categories .fuel {
        display: none;
    }
}
