@import "../utils/mixins";
@import "../utils/variables";

#terms {
    .title {
        @include text(Comfortaa, 60px, 1.2, 900, rgb(84, 84, 84));
        word-break: break-all;
    }
    ol {
        padding-left: 0;
        li {
            @include text(Comfortaa, 15px, 1.2, 500, #545454);
            margin-bottom: 0.5rem;
            ol {
                padding-left: 1.5rem;
                margin-top: 0.5rem;
                li {
                }
            }
        }
    }
}
