<template>
    <modal name="forget" :draggable="false" :adaptive="true" width="365" height="auto">
        <div class="container py-3 px-5">
            <button type="button" class="close-btn" @click="$modal.hide('forget')">
                <i class="fal fa-times"></i>
            </button>
            <div class="row">
                <div class="col-xl-12 text-center mb-4">
                    <h1 v-if="lang != 'en'">Пожалуйста введите вашу почту</h1>
                    <h1 v-else>Please enter your email</h1>
                </div>
                <div class="col-xl-12 text-center">
                    <form @submit.prevent="forget">
                        <div class="form-group" :class="{ 'form-group--error': $v.email.$error }">
                            <label>
                                <template v-if="$v.email.$error">
                  <span
                      class="text-danger"
                      v-if="!$v.email.required"
                  >{{ JSON.parse(email_validations).required }}</span>
                                    <span
                                        class="text-danger"
                                        v-if="!$v.email.email"
                                    >{{ JSON.parse(email_validations).invalid }}</span>
                                </template>
                                <template v-else>
                                    <span>{{ JSON.parse(email_validations).enter }}</span>
                                </template>
                                <input
                                    class="form-control"
                                    type="email"
                                    name="email"
                                    placeholder="info@mail.com"
                                    v-model="email"
                                    @input="setEmail($event)"
                                />
                            </label>
                        </div>

                        <div class="form-group">
                            <button
                                type="submit"
                                :disabled="$v.$anyError"
                                v-if="lang != 'en'"
                            >Восстановить</button>
                            <button
                                type="submit"
                                :disabled="$v.$anyError"
                                v-else
                            >Recover</button>
                        </div>

                        <div class="form-group">
                            <p>{{ JSON.parse(email_validations).upset }}</p>
                            <a
                                href="javascript:void(0)"
                                @click="showRegistration"
                            >{{ JSON.parse(email_validations).register }}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </modal>
</template>

<script>
import { mapState } from "vuex";
import { required, email } from "vuelidate/lib/validators";

export default {
    data() {
        return {
            email: "",
        };
    },
    props: {
        lang: {
            type:String,
            required:true,
        },
        email_validations: {
            type: String,
            required: true,
        },
    },
    validations: {
        email: {
            required,
            email,
        },

    },
    computed: {
        ...mapState({
            errors: (state) => state.cabinet.errors,
        }),
    },

    methods: {
        setEmail(e) {
            this.email = e.target.value;
            this.$v.email.$touch();
        },

        showRegistration() {
            this.$modal.hide("forget");
            this.$modal.show("registration");
        },
        forget(e) {
            let data = new FormData(e.target);
            this.$v.$touch();
            if (!this.$v.$invalid) {
                this.$store.dispatch("cabinet/forget", data);
            }
        },


    },
};
</script>

<style lang="scss" scoped>
</style>
