<template>
  <modal name="login" :draggable="false" :adaptive="true" width="365" height="auto">
    <div class="container py-3 px-5">
      <button type="button" class="close-btn" @click="$modal.hide('login')">
        <i class="fal fa-times"></i>
      </button>
      <div class="row">
        <div class="col-xl-12 text-center mb-4">
          <h1>Авторизация</h1>
        </div>
        <div class="col-xl-12 text-center">
          <form @submit.prevent="login">
            <div class="form-group" :class="{ 'form-group--error': $v.email.$error }">
              <label>
                <template v-if="$v.email.$error">
                  <span
                    class="text-danger"
                    v-if="!$v.email.required"
                  >{{ JSON.parse(email_validations).required }}</span>
                  <span
                    class="text-danger"
                    v-if="!$v.email.email"
                  >{{ JSON.parse(email_validations).invalid }}</span>
                </template>
                <template v-else>
                  <span>{{ JSON.parse(email_validations).enter }}</span>
                </template>
                <input
                  class="form-control"
                  type="email"
                  name="email"
                  placeholder="info@mail.com"
                  v-model="email"
                  @input="setEmail($event)"
                />
              </label>
            </div>
            <div class="form-group" :class="{ 'form-group--error': $v.password.$error }">
              <label>
                <template v-if="$v.password.$error">
                  <span
                    class="text-danger"
                    v-if="!$v.password.required"
                  >{{ JSON.parse(password_validations).required }}</span>
                </template>
                <template v-else>
                  <span>{{ JSON.parse(password_validations).enter }}</span>
                </template>
                <input
                  class="form-control"
                  type="password"
                  name="password"
                  v-model="password"
                  @input="setPassword($event)"
                />
              </label>
            </div>
            <div class="form-group">
              <button
                type="submit"
                :disabled="$v.$anyError"
              >{{ JSON.parse(email_validations).login }}</button>
            </div>
            <div class="form-group">
              <p>{{ JSON.parse(email_validations).upset }}</p>
              <a
                href="javascript:void(0)"
                @click="showRegistration"
              >{{ JSON.parse(email_validations).register }}</a>
            </div>
            <div class="form-group">
                <a v-if="lang != 'en'" style="text-transform: capitalize;" @click="showForget">Забыли пароль?</a>
                <a v-else style="text-transform: capitalize;" @click="showForget">Forget password?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </modal>
</template>

<script>
import { mapState } from "vuex";
import { required, email } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      email: "",
      password: "",
    };
  },
  props: {
    email_validations: {
      type: String,
      required: true,
    },
    password_validations: {
      type: String,
      required: true,
    },
    lang: {
        type:String,
        required:true
    }
  },
  validations: {
    email: {
      required,
      email,
    },
    password: {
      required,
    },
  },
  computed: {
    ...mapState({
      errors: (state) => state.cabinet.errors,
    }),
  },
  methods: {
    setEmail(e) {
      this.email = e.target.value;
      this.$v.email.$touch();
    },
    setPassword(e) {
      this.password = e.target.value;
      this.$v.password.$touch();
    },
    showRegistration() {
      this.$modal.hide("login");
      this.$modal.show("registration");
    },
    showForget(){
      this.$modal.hide("login");
      this.$modal.show("forget");
    },
    login(e) {
      let data = new FormData(e.target);
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.$store.dispatch("cabinet/login", data);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
