<template>
  <modal name="pickupThrough" :draggable="false" :adaptive="true" width="365" height="auto">
    <keep-alive>
      <div class="container py-3 px-5">
        <button type="button" class="close-btn" @click="$modal.hide('pickupThrough')">
          <i class="fal fa-times"></i>
        </button>
        <div class="row">
          <div class="col-xl-12 text-center mb-4">
            <h1 v-if="!parseInt(is_en)">Забрать через</h1>
            <h1 v-else>Pickup through</h1>
          </div>
          <div class="col-xl-12">
            <div class="form-group">
              <label class="pickupAt mb-3">
                <input
                  @input="setDay(0)"
                  id="today"
                  type="radio"
                  :value="today"
                  name="pick_up_at"
                  checked="checked"
                />
                <label :for="`today`" v-if="!parseInt(is_en)">Сегодня</label>
                <label :for="`today`" v-else>Today</label>
              </label>
              <label class="pickupAt mb-3">
                <input
                  @input="setDay(1)"
                  id="tomorrow"
                  type="radio"
                  :value="tomorrow"
                  name="pick_up_at"
                  zone='local' value-zone='local'
                />
                <label :for="`tomorrow`" v-if="!parseInt(is_en)">Завтра</label>
                <label :for="`tomorrow`" v-else>Tommorow</label>
              </label>
              <datetime
                type="time"
                name="pick_up_at"
                :min-datetime="min"
                :max-datetime="max"
                v-model="pick_up_at"
                input-id="startDate"
                input-class="form-control mb-3"
                zone='local' value-zone='local'
              >
                <label v-if="!parseInt(is_en)" for="startDate" class slot="before">Выберите время</label>
                <label v-else for="startDate" class slot="before">Choose time</label>
              </datetime>

            </div>
            <div class="form-group text-center" v-if="exception === 1 && !parseInt(is_en)"  >К сожалению мы не принимаем заказы по воскресеньям</div>
            <div class="form-group text-center" v-if="exception === 1 && parseInt(is_en)">Sorry but we dont accept orders in sunday</div>
            <div class="form-group">

              <button
                type="button"
                class="confirm-btn"
                @click="$modal.hide('pickupThrough')"
                v-if="!parseInt(is_en)"
                :disabled="exception === 1"

              >Применить</button>
              <button
                type="button"
                class="confirm-btn"
                @click="$modal.hide('pickupThrough')"
                v-else
                :disabled="exception === 1"
              >Apply</button>
              <!-- <select class="form-control">
              <option
                v-for="(pickupPlace, index) in pickupPlaces"
                :key="index"
                :value="`location_${pickupPlace.id}`"
              >{{ pickupPlace.name }}</option>
              </select>-->
            </div>
          </div>
        </div>
      </div>
    </keep-alive>
  </modal>
</template>

<script>
import { mapState } from "vuex";
import { Datetime } from "vue-datetime";
import { CartService } from "../../service/service";
export default {
  data() {
    return {
      email: "",
      password: "",
      min: new Date().toISOString(),
      max: new Date(
        new Date().getYear() + 1900,
        new Date().getMonth(),
        new Date().getDate(),
        20
      ).toISOString(),
      exception:false,
    };
  },
  components: {
    datetime: Datetime,
  },
  props: {
    is_en: {
      type: [String, Number],
      required: true,
    },
  },
  computed: {
    ...mapState({
      pickupPlaces: (state) => state.cart.pickupPlaces,
    }),
    pick_up_at: {
      get() {
        return this.$store.state.cart.pick_up_at;
      },
      set(val) {

        if (val) {
          localStorage.setItem("savedPickupAt", val);
        }
        this.$store.commit("cart/UPDATE_DELIVER_AT", val);
      },
    },
    today() {
      return new Date();
    },
    tomorrow() {
      return new Date(this.today.getTime() + 24 * 60 * 60 * 1000);
    },
  },
  methods: {
    setDay(day) {
      let currentDay = new Date();
      currentDay.setDate(currentDay.getDate() + parseInt(day));
      if (day == 1) {
        CartService.getMinMax().then((response) => {
          if (currentDay.getDay() === 6){
              this.min = new Date(
                  new Date().getYear() + 1900,
                  new Date().getMonth(),
                  new Date().getDate() + parseInt(day),
                  parseInt(response.data.work_time_week.split(":")[0])
              ).toISOString();
              this.max = new Date(
                  new Date().getYear() + 1900,
                  new Date().getMonth(),
                  new Date().getDate() + parseInt(day),
                  parseInt(response.data.work_time_end_week.split(":")[0])
              ).toISOString();
          }else{
              this.min = new Date(
                  new Date().getYear() + 1900,
                  new Date().getMonth(),
                  new Date().getDate() + parseInt(day),
                  parseInt(response.data.work_time.split(":")[0])
              ).toISOString();
              this.max = new Date(
                  new Date().getYear() + 1900,
                  new Date().getMonth(),
                  new Date().getDate() + parseInt(day),
                  parseInt(response.data.work_time_end.split(":")[0])
              ).toISOString();
          }
        });


        let myDate = new Date();

        myDate.setDate(myDate.getDate() + parseInt(day));
        if (myDate.getDay() === 7){
            this.exception = 1
            return  false
        }else{
            this.exception = 0
        }
        return (this.pick_up_at = myDate.toISOString());
      } else {
          let currentDay = new Date()

          CartService.getMinMax().then((response) => {
              if (currentDay.getDay() === 6){
                  this.min = new Date(
                      new Date().getYear() + 1900,
                      new Date().getMonth(),
                      new Date().getDate() + parseInt(day),
                      parseInt(response.data.work_time_week.split(":")[0])
                  ).toISOString();
                  this.max = new Date(
                      new Date().getYear() + 1900,
                      new Date().getMonth(),
                      new Date().getDate() + parseInt(day),
                      parseInt(response.data.work_time_end_week.split(":")[0])
                  ).toISOString();
              }else{
                  this.min = new Date(
                      new Date().getYear() + 1900,
                      new Date().getMonth(),
                      new Date().getDate() + parseInt(day),
                      parseInt(response.data.work_time.split(":")[0])
                  ).toISOString();
                  this.max = new Date(
                      new Date().getYear() + 1900,
                      new Date().getMonth(),
                      new Date().getDate() + parseInt(day),
                      parseInt(response.data.work_time_end.split(":")[0])
                  ).toISOString();
              }
          });
        let myDate = new Date();

        // if (myDate.getDay() === 4 ){
        //     this.exception = 1
        //
        // }

        myDate.setDate(myDate.getDate());
          if(currentDay.getDay() === 7){
              this.exception = 1
              return false
          }else{
              this.exception = 0
          }
          return (this.pick_up_at = myDate.toISOString());
      }
    },

    // setPickupAt(e) {
    //   this.$store.commit("cart/UPDATE_DELIVER_AT", e.target.value);
    // },
  },
  mounted() {
      let currentDay = new Date()
      CartService.getMinMax().then((response) => {
          if (currentDay.getDay() === 6){
              this.min = new Date(
                  new Date().getYear() + 1900,
                  new Date().getMonth(),
                  new Date().getDate() + parseInt(day),
                  parseInt(response.data.work_time_week.split(":")[0])
              ).toISOString();
              this.max = new Date(
                  new Date().getYear() + 1900,
                  new Date().getMonth(),
                  new Date().getDate() + parseInt(day),
                  parseInt(response.data.work_time_end_week.split(":")[0])
              ).toISOString();
          }else{
              this.min = new Date(
                  new Date().getYear() + 1900,
                  new Date().getMonth(),
                  new Date().getDate() + parseInt(day),
                  parseInt(response.data.work_time.split(":")[0])
              ).toISOString();
              this.max = new Date(
                  new Date().getYear() + 1900,
                  new Date().getMonth(),
                  new Date().getDate() + parseInt(day),
                  parseInt(response.data.work_time_end.split(":")[0])
              ).toISOString();
          }
      });
      let myDate = new Date()

      if(currentDay.getDay() === 7){
          this.exception = 1
          return false
      }
  }
};
</script>

<style lang="scss" scoped></style>
