<template>
  <modal name="registration" :draggable="false" :adaptive="true" width="365" height="auto">
    <div class="container py-3 px-5">
      <button type="button" class="close-btn" @click="$modal.hide('registration')">
        <i class="fal fa-times"></i>
      </button>
      <div class="row">
        <div class="col-xl-12 text-center">
          <h1>Регистрация</h1>
        </div>
        <div class="col-xl-12 text-center">
          <form @submit.prevent="register">
            <div class="form-group" :class="{ 'form-group--error': $v.name.$error }">
              <label>
                <template v-if="$v.name.$error">
                  <span
                    class="text-danger"
                    v-if="!$v.name.required"
                  >{{ JSON.parse(name_validations).required }}</span>
                </template>
                <template v-else>
                  <span>{{ JSON.parse(name_validations).enter }}</span>
                </template>
                <input
                  class="form-control"
                  type="name"
                  name="name"
                  placeholder="Иван"
                  v-model="name"
                  @input="setName($event)"
                />
              </label>
            </div>
            <div
              class="form-group"
              :class="{ 'form-group--error': $v.email.$error || errors.email }"
            >
              <label>
                <template v-if="$v.email.$error">
                  <span
                    class="text-danger"
                    v-if="!$v.email.required"
                  >{{ JSON.parse(email_validations).required }}</span>
                  <span
                    class="text-danger"
                    v-if="!$v.email.email"
                  >{{ JSON.parse(email_validations).invalid }}</span>
                </template>
                <template v-else-if="errors.email">
                  <span class="text-danger">{{ errors.email[0] }}</span>
                </template>
                <template v-else>
                  <span>{{ JSON.parse(email_validations).enter }}</span>
                </template>
                <input
                  class="form-control"
                  type="email"
                  name="email"
                  placeholder="info@mail.com"
                  v-model="email"
                  @input="setEmail($event)"
                />
              </label>
            </div>
            <div class="form-group" :class="{ 'form-group--error': $v.password.$error }">
              <label>
                <template v-if="$v.password.$error">
                  <span
                    class="text-danger"
                    v-if="!$v.password.required"
                  >{{ JSON.parse(password_validations).required }}</span>
                  <span
                    class="text-danger"
                    v-if="!$v.password.minLength"
                  >{{ JSON.parse(password_validations).short }}</span>
                </template>
                <template v-else>
                  <span>{{ JSON.parse(password_validations).enter }}</span>
                </template>
                <input
                  class="form-control"
                  type="password"
                  name="password"
                  v-model="password"
                  @input="setPassword($event)"
                />
              </label>
            </div>
            <div class="form-group" :class="{ 'form-group--error': $v.password_repeat.$error }">
              <label>
                <template v-if="$v.password_repeat.$error">
                  <span
                    class="text-danger"
                    v-if="!$v.password_repeat.required"
                  >{{ JSON.parse(password_validations).required }}</span>
                  <span
                    class="text-danger"
                    v-else-if="!$v.password_repeat.sameAsPassword"
                  >{{ JSON.parse(password_validations).match }}</span>
                </template>
                <template v-else>
                  <span>{{ JSON.parse(password_validations).reenter }}</span>
                </template>
                <input
                  class="form-control"
                  type="password"
                  name="password_confirmation"
                  v-model="password_repeat"
                  @input="repeatPassword($event)"
                />
              </label>
            </div>
            <div class="form-group">
              <button type="submit" :disabled="$v.$anyError">
                <span>{{ JSON.parse(email_validations).register }}</span>
              </button>
            </div>
            <div class="form-group">
              <p>{{ JSON.parse(email_validations).already }}</p>
              <a
                href="javascript:void(0)"
                @click="showLogin"
              >"{{ JSON.parse(email_validations).login }}"</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </modal>
</template>

<script>
import { mapState } from "vuex";
import { required, minLength, email, sameAs } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      name: "",
      email: "",
      password: "",
      password_repeat: "",
    };
  },
  props: {
    email_validations: {
      type: String,
      required: true,
    },
    password_validations: {
      type: String,
      required: true,
    },
    name_validations: {
      type: String,
      required: true,
    },
  },
  validations: {
    name: {
      required,
    },
    email: {
      required,
      email,
    },
    password: {
      required,
      minLength: minLength(8),
    },
    password_repeat: {
      required,
      sameAsPassword: sameAs("password"),
    },
  },
  computed: {
    ...mapState({
      errors: (state) => state.cabinet.errors,
    }),
  },
  methods: {
    setName(e) {
      this.name = e.target.value;
      this.$v.name.$touch();
    },
    setEmail(e) {
      if (this.$store.state.cabinet.errors.email) {
        this.$store.state.cabinet.errors.email = [];
      }
      this.email = e.target.value;
      this.$v.email.$touch();
    },
    setPassword(e) {
      this.password = e.target.value;
      this.$v.password.$touch();
    },
    repeatPassword(e) {
      this.password_repeat = e.target.value;
      this.$v.password_repeat.$touch();
    },
    showLogin() {
      this.$modal.hide("registration");
      this.$modal.show("login");
    },
    register(e) {
      let data = new FormData(e.target);
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.$store.dispatch("cabinet/register", data);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
