#about h1{font-size:24px;font-weight:700}#about h1,#about p{font-family:Comfortaa;line-height:1.2;color:#545454;margin-bottom:1rem}#about p{font-size:16px;font-weight:500}#about img{width:100%;-o-object-fit:none;object-fit:none}