#footer {
    margin-top: auto;
    border-top: 1px solid rgb(254, 245, 238);
    .container,
    .row {
        min-height: 200px;
    }
    .logo {
        display: block;
        max-width: 132px;
        height: 74px;
        margin: 0 auto;
        object {
            width: 100%;
            height: 100%;
            pointer-events: none;
        }
    }
    .copyright {
        @include text(Comfortaa, 14px, 1.2, 500, rgb(84, 84, 84));
        text-align: center;
    }
    .socials {
        @include flex(row, nowrap, stretch, space-between);
        width: 100%;
        list-style: none;
        padding-left: 0;
        li {
            a {
                color: rgba(84, 84, 84, 0.529);
                font-size: 16px;
            }
        }
    }
    .footer-nav {
        height: 100%;
        ul {
            height: 100%;
            list-style: none;
            padding-left: 0;
            @include flex(column, nowrap, stretch, space-between);
            li {
                a {
                    @include text(Comfortaa, 16px, 1.2, 500, rgb(84, 84, 84));
                }
            }
        }
    }
    .contact-details {
        flex: 0 0 60%;
        list-style: none;
        padding-left: 0;
        @include flex(column, nowrap, stretch, space-between);
        li {
            a {
                @include text(Comfortaa, 22px, 1.2, 900, rgb(84, 84, 84));
                &::before {
                    display: block;
                    @include text(
                        Comfortaa,
                        16px,
                        1.75,
                        normal,
                        rgb(208, 208, 208)
                    );
                }
                &.email::before {
                    content: "E-mail";
                }
                &.phone::before {
                    content: "Номер телефона";
                }
            }
        }
    }
    .feedback-btn {
        @include text(Comfortaa, 14px, 1.2, normal, rgb(255, 255, 255));
        background-color: rgb(255, 0, 0);
        border: none;
        max-width: 230px;
        width: 100%;
        height: 50px;
    }
    .apps {
        @include flex(column, nowrap, stretch, space-between);
        height: 100%;
        h2 {
            @include text(Comfortaa, 20px, 1.4, 900, rgb(84, 84, 84));
        }
        p {
            @include text(Comfortaa, 16px, 1.75, 500, rgb(208, 208, 208));
        }
        ul {
            list-style: none;
            padding-left: 0;
            @include flex(row, wrap, stretch, space-between);
            max-width: 90px;
            li {
                a {
                    display: contents;
                    i {
                        font-size: 35px;
                    }
                }
            }
        }
    }
    .developed_by {
        @include text(Comfortaa, 16px, 1.75, 500, rgb(208, 208, 208));
    }
}

@media (max-width: 576px) {
    #footer .footer-nav {
        display: none;
    }
    #footer .socials {
        display: none;
    }
}
