@keyframes shakeError {
    0% {
        transform: translateX(0);
    }
    15% {
        transform: translateX(0.375rem);
    }
    30% {
        transform: translateX(-0.375rem);
    }
    45% {
        transform: translateX(0.375rem);
    }
    60% {
        transform: translateX(-0.375rem);
    }
    75% {
        transform: translateX(0.375rem);
    }
    90% {
        transform: translateX(-0.375rem);
    }
    100% {
        transform: translateX(0);
    }
}
#app {
    @include flex(column, nowrap, stretch, space-between);
}
.modal-content {
    .form-group--error {
        animation-name: shakeError;
        animation-fill-mode: forwards;
        animation-duration: 0.6s;
        animation-timing-function: ease-in-out;
        position: relative;
    }
    h1 {
        font-size: 35px;
        font-family: "Comfortaa";
        color: rgb(84, 84, 84);
        line-height: 1.571;
        font-weight: 900;
    }
    .close-btn {
        background-color: rgb(255, 0, 0);
        box-shadow: 0px 10px 20.16px 0.84px rgba(255, 0, 0, 0.21);
        width: 35px;
        height: 35px;
        font-size: 14px;
        border: none;
        color: #fff;
        position: absolute;
        top: -10px;
        right: -10px;
    }
    .form-group {
        margin-bottom: 1.5rem;
        label {
            font-size: 16px;
            font-family: "Comfortaa";
            color: rgb(34, 34, 34);
            line-height: 1.2;
            font-weight: 700;
            width: 100%;
            text-align: left;
        }
        input {
            border-width: 1px;
            border-color: rgb(235, 235, 235);
            border-style: solid;
            height: 43px;
            width: 100%;
            font-size: 14px;
            font-family: "Comfortaa";
            color: rgb(34, 34, 34);
            line-height: 1.2;
            font-weight: 600;
            margin-top: 0.5rem;
            border-radius: 0;
            &::-webkit-input-placeholder,
            &:-moz-placeholder,
            &::-moz-placeholder,
            &:-ms-input-placeholder,
            &::placeholder {
                color: rgb(124, 124, 124);
            }
        }
        textarea {
            border-width: 1px;
            border-color: rgb(235, 235, 235);
            border-style: solid;
            height: 43px;
            width: 100%;
            font-size: 14px;
            font-family: "Comfortaa";
            color: rgb(34, 34, 34);
            line-height: 1.2;
            font-weight: 600;
            margin-top: 0.5rem;
            border-radius: 0;
            height: 90px;
            resize: none;
            &::-webkit-input-placeholder,
            &:-moz-placeholder,
            &::-moz-placeholder,
            &:-ms-input-placeholder,
            &::placeholder {
                color: rgb(124, 124, 124);
            }
        }
        button {
            font-size: 18px;
            font-family: "Comfortaa";
            color: rgb(255, 255, 255);
            font-weight: 600;
            line-height: 1.667;
            background-color: rgb(255, 0, 0);
            height: 56px;
            width: 100%;
            border: none;
            &:disabled {
                background-color: #f8f8f8;
                color: #08050b;
            }
        }
        p {
            font-size: 16px;
            font-family: "Comfortaa";
            color: rgb(34, 34, 34);
            line-height: 1.2;
            font-weight: 500;
        }
        a {
            font-size: 16px;
            font-family: "Comfortaa";
            color: rgb(255, 0, 0);
            text-transform: uppercase;
            line-height: 1.2;
            font-weight: 600;
        }
    }
}
#header {
    position: fixed;
    z-index: 1024;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -ms-transform-transform: translateY(0%);
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    &.header-unstick {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -ms-transform-transform: translateY(-100%);
    }
    .sidebar {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 100vw;
            height: 100%;
            background-color: rgb(254, 245, 238);
            z-index: -1;
            transition: all 0.3s ease;
        }
        &.is-active {
            &:before {
                height: 100vh;
            }
        }
        .controls {
            height: 100px;
            @include flex(row, wrap, center, space-between);
            .auth-btn {
                @include flex(column, nowrap, flex-start, flex-start);
                @include text(Comfortaa, 16px, 1.2, 900, rgb(255, 0, 0));
                span {
                    @include text(Comfortaa, 14px, 1.2, 500, rgb(84, 84, 84));
                }
            }
            .cart-link {
                i {
                    font-size: 20px;
                    color: rgb(84, 84, 84);
                }
            }
        }
        .main-nav {
            height: 0;
            width: 100%;
            transition: all 0.3s ease;
            overflow: hidden;
            position: absolute;
            z-index: 1;
            right: 0;
            padding: 0 15px;
            background-color: rgb(254, 245, 238);
            ul {
                list-style: none;
                padding-left: 0;
                li {
                    a {
                        @include text(
                            Comfortaa,
                            30px,
                            1.567,
                            900,
                            rgb(84, 84, 84)
                        );
                    }
                }
            }
            .feedback-btn {
                @include text(Comfortaa, 14px, 1.2, normal, rgb(255, 255, 255));
                background-color: rgb(255, 0, 0);
                border: none;
                max-width: 230px;
                width: 100%;
                height: 50px;
            }
            .lang {
                @include flex(row, nowrap, stretch, flex-start);
                li {
                    border-width: 1px;
                    border-color: rgb(255, 0, 0);
                    border-style: solid;
                    width: 50px;
                    height: 50px;
                    &:last-of-type {
                        border-left: none;
                    }
                    &.active {
                        background-color: rgb(255, 0, 0);
                        a {
                            color: rgb(255, 255, 255);
                        }
                    }
                    a {
                        @include flex(row, nowrap, center, center);
                        @include text(
                            Comfortaa,
                            14px,
                            1.2,
                            normal,
                            rgb(255, 0, 0)
                        );
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .socials {
                @include flex(row, nowrap, stretch, space-between);
                width: 100%;
                li {
                    a {
                        color: rgba(84, 84, 84, 0.529);
                        font-size: 16px;
                    }
                }
            }
            &.is-active {
                height: calc(100vh - 100px);
            }
            .vm--modal {
                overflow: visible;
                z-index: 1000000000000;
            }
            .vm--container {
                z-index: 100000000000;
                .form-group--error {
                    animation-name: shakeError;
                    animation-fill-mode: forwards;
                    animation-duration: 0.6s;
                    animation-timing-function: ease-in-out;
                    position: relative;
                }
                h1 {
                    font-size: 35px;
                    font-family: "Comfortaa";
                    color: rgb(84, 84, 84);
                    line-height: 1.571;
                    font-weight: 900;
                }
                .close-btn {
                    background-color: rgb(255, 0, 0);
                    box-shadow: 0px 10px 20.16px 0.84px rgba(255, 0, 0, 0.21);
                    width: 35px;
                    height: 35px;
                    font-size: 14px;
                    border: none;
                    color: #fff;
                    position: absolute;
                    top: -10px;
                    right: -10px;
                }
                .form-group {
                    margin-bottom: 1.5rem;
                    label {
                        font-size: 16px;
                        font-family: "Comfortaa";
                        color: rgb(34, 34, 34);
                        line-height: 1.2;
                        font-weight: 700;
                        width: 100%;
                        text-align: left;
                    }
                    input {
                        border-width: 1px;
                        border-color: rgb(235, 235, 235);
                        border-style: solid;
                        height: 43px;
                        width: 100%;
                        font-size: 14px;
                        font-family: "Comfortaa";
                        color: rgb(34, 34, 34);
                        line-height: 1.2;
                        font-weight: 600;
                        margin-top: 0.5rem;
                        border-radius: 0;
                        &::-webkit-input-placeholder,
                        &:-moz-placeholder,
                        &::-moz-placeholder,
                        &:-ms-input-placeholder,
                        &::placeholder {
                            color: rgb(124, 124, 124);
                        }
                    }
                    button {
                        font-size: 18px;
                        font-family: "Comfortaa";
                        color: rgb(255, 255, 255);
                        font-weight: 600;
                        line-height: 1.667;
                        background-color: rgb(255, 0, 0);
                        height: 56px;
                        width: 100%;
                        border: none;
                        &:disabled {
                            background-color: #f8f8f8;
                            color: #08050b;
                        }
                    }
                    p {
                        font-size: 16px;
                        font-family: "Comfortaa";
                        color: rgb(34, 34, 34);
                        line-height: 1.2;
                        font-weight: 500;
                    }
                    a {
                        font-size: 16px;
                        font-family: "Comfortaa";
                        color: rgb(255, 0, 0);
                        text-transform: uppercase;
                        line-height: 1.2;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .logo {
        display: block;
        max-width: 133px;
        height: 75px;
        object {
            width: 100%;
            height: 100%;
            pointer-events: none;
        }
    }
    .minor-nav {
        max-width: 300px;
        width: 100%;
        ul {
            @include flex(row, nowrap, center, space-between);
            list-style: none;
            padding-left: 0;
            li {
                a {
                    @include text(
                        Comfortaa,
                        14px,
                        1.2,
                        normal,
                        rgb(84, 84, 84)
                    );
                }
            }
        }
    }
    .feedback-btn {
        @include text(Comfortaa, 14px, 1.2, normal, rgb(255, 255, 255));
        background-color: rgb(255, 0, 0);
        border: none;
        max-width: 165px;
        width: 100%;
        height: 40px;
    }
}

@media (max-width: 576px) {
    #header .sidebar .controls {
        height: 70px;
    }
    #header .feedback-btn {
        display: none;
    }
    #header .sidebar .main-nav .feedback-btn {
        display: block;
    }
}
@media (max-width: 992px) {
    #header .feedback-btn {
        display: none;
    }
    #header .sidebar .main-nav .feedback-btn {
        display: block;
    }
    #header .logo {
        max-width: 100px;
        height: 65px;
    }
}
@media (min-width: 993px) and (max-width: 1024px) {
    #header .feedback-btn {
        max-width: 150px;
    }
    #header .logo {
        max-width: 75px;
    }
}
