<template>
  <div class="container py-4">
    <div class="row">
      <div class="col-4">
        <h2>
          <template v-if="!parseInt(is_en)">№ заказа</template>
          <template v-else>Order's number</template>
        </h2>
      </div>
      <div class="col-4">
        <h2>
          <template v-if="!parseInt(is_en)">Дата</template>
          <template v-else>Date</template>
        </h2>
      </div>
      <div class="col-4">
        <h2>
          <template v-if="!parseInt(is_en)">Статус</template>
          <template v-else>Status</template>
        </h2>
      </div>
    </div>
    <template v-if="orders.length">
      <b-card no-body class="my-3" v-for="(order, index) in orders" :key="index">
        <b-card-header header-tag="div" role="tab" class="p-0">
          <div
            @click="getOrderProducts($event)"
            :order-id="order.order_id"
            v-b-toggle="`accordion-${index}`"
            class="row py-3"
          >
            <div class="col-4" style="pointer-events: none">
              <p>{{ order.order_id }}</p>
            </div>
            <div class="col-4" style="pointer-events: none">
              <p>
                {{
                new Date(order.created_at).getDate() +
                "." +
                (new Date(order.created_at).getMonth() <
                10
                ? "0"
                : "") +
                (new Date(order.created_at).getMonth() +
                1) +
                "." +
                (new Date(order.created_at).getYear() +
                1900)
                }}
              </p>
            </div>
            <div class="col-4 color-format-status" style="pointer-events: none">
              <p v-bind:class="{
                  'yellow': order.status_id === 1 ,
                  'light_green' : order.status_id === 2  ,
                  'green' : order.status_id === 4 || order.status_id === 3,
                  'red': order.status_id === 5,
                  'blue' : order.status_id === 6
              }">{{ order.status.name }}</p>
            </div>
          </div>
        </b-card-header>
        <b-collapse :id="`accordion-${index}`" role="tabpanel">
          <b-card-body>
            <div
              class="row py-3"
              v-for="(product, index) in orderProducts[
                                order.order_id
                            ]"
              :key="index"
            >
              <div style="display: contents">
                <div class="col-lg-3 border-right">
                  <a
                    :href="
                                    `/products/${product.entity.product.slug}`
                                "
                    style="display: contents;"
                  >
                    <img
                      :src="
                                                `/storage/${product.entity.product.thumbnail}`
                                            "
                    />
                  </a>
                </div>
                <div class="col-lg-2 border-right">
                  <p class="name">{{ product.entity.product.name }}</p>
                </div>
                <div class="col-lg-2 border-right">
                  <p class="price">
                    {{
                    (
                    product.unit_price * 1
                    ).toLocaleString()
                    }}
                    <template
                      v-if="!parseInt(is_en)"
                    >тг</template>
                    <template v-else>tg</template>
                  </p>
                </div>
                <div class="col-lg-2 border-right">
                  <p class="quantity">{{ product.unit_quantity }} шт</p>
                </div>
                <div class="col-lg-3">
                  <button
                    class="cart-btn"
                    type="button"
                    @click="addToCart({
                                        variation: product.entity.id,
                                        product_id: product.entity.product.id
                                    })"
                  >
                    <template v-if="!parseInt(is_en)">Повторить заказ</template>
                    <template v-else>Repeat purchase</template>
                  </button>
                </div>
              </div>
            </div>
          </b-card-body>
        </b-collapse>
      </b-card>
    </template>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import {
  BCollapse,
  BCard,
  BButton,
  BCardHeader,
  BCardBody,
  BNavbarToggle,
} from "bootstrap-vue";
export default {
  components: {
    "b-collapse": BCollapse,
    "b-card": BCard,
    "b-button": BButton,
    "b-card-header": BCardHeader,
    "b-card-body": BCardBody,
  },
  computed: {
    ...mapState({
      orders: (state) => state.cabinet.orders,
      orderProducts: (state) => state.cabinet.orderProducts,
    }),

  },
  props: {
    is_en: {
      required: true,
      default: "0",
    },
  },
  methods: {
    ...mapActions("cart", ["addToCart"]),
    getOrderProducts(e) {
      this.$store.dispatch(
        "cabinet/fetchOrderProducts",
        e.target.getAttribute("order-id")
      );
    },
  },
  created() {
    if (!this.orders.length) {
      this.$store.dispatch("cabinet/fetchOrders");
    }
  },
};
</script>

<style lang="scss" scoped>
h2 {
  font-size: 18px;
  font-family: "Comfortaa";
  color: #25252d;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
}
p {
  font-size: 16px;
  font-family: "Comfortaa";
  color: #25252d;
  line-height: 1;
  text-align: center;
}
.card {
  border-width: 1px;
  border-color: #ebebeb;
  border-style: solid;
}
.card-header {
  cursor: pointer;
}
.card-body {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}
.cart-btn {
  font-family: Comfortaa;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  color: white;
  background-color: red;
  border: none;
  max-width: 165px;
  width: 100%;
  height: 40px;
}
.color-format-status .yellow{
    color: #f1c40f;
}
.color-format-status .light_green{
    color: #c5e1a5;
}
.color-format-status .green{
    color: #64dd17;
}
.color-format-status .red{
    color: #d32f2f;
}
.color-format-status .blue{
    color: #2980b9;
}
</style>
