<template>
  <div class="container py-4">
    <div class="row">
      <form @submit.prevent="putData" class="col-xl-6">
        <div class="form-group">
          <label>
            <template v-if="!parseInt(is_en)">Имя</template>
            <template v-else>Name</template>
            <input class="form-control" type="text" name="name" v-model="name" />
          </label>
        </div>
        <div class="form-group">
          <label>
            Email
            <input class="form-control" type="email" name="email" v-model="email" />
          </label>
        </div>
        <div class="form-group">
          <label>
            <template v-if="!parseInt(is_en)">Телефон</template>
            <template v-else>Phone</template>
            <input
              class="form-control"
              type="tel"
              name="phone"
              placeholder="+7 ("
              v-mask="'+7 (###) ### ## ##'"
              v-model="phone"
              autocomplete="off"
            />
          </label>
        </div>
          <div class="form-group">
              <label>
                  <template v-if="!parseInt(is_en)">Пароль</template>
                  <template v-else>Password</template>
                  <input
                      class="form-control"
                      type="password"
                      name="password"
                      placeholder=""
                      v-model="password"
                      autocomplete="off"
                  />
              </label>
          </div>
        <div class="form-group">
          <label>
            <template v-if="!parseInt(is_en)">Дата рождения</template>
            <template v-else>Birth date</template>
          </label>

          <v-date-picker
            v-model="birthday"
            class="datepicker"
            :input-props="{
                            class: 'form-control',
                            placeholder: 'мм.ддOr.гггг',
                            name: 'birthday',

                        }"
          />
        </div>
        <div class="form-group">
          <button type="submit">
            <template v-if="!parseInt(is_en)">Сохранить данные</template>
            <template v-else>Save</template>
          </button>
        </div>
      </form>
      <form @submit.prevent="putData" class="col-xl-6">
        <h2>
          <template v-if="!parseInt(is_en)">Изображение профиля</template>
          <template v-else>Avatar</template>
        </h2>
        <div class="form-group d-flex justify-content-between align-items-start">
          <img id="user-avatar" :src="`${avatar}`" />
          <div class="file-control">
            <label class="file">
              <template v-if="!parseInt(is_en)">Выберите файл</template>
              <template v-else>Choose a file</template>
              <input type="file" name="avatar" @change="onFileChange" />
            </label>
            <button type="submit">
              <template v-if="!parseInt(is_en)">Сохранить</template>
              <template v-else>Save</template>
            </button>
          </div>
        </div>
        <a href="#" @click.prevent="removeImageSrc">
          <template v-if="!parseInt(is_en)">Удалить</template>
          <template v-else>Remove</template>
        </a>
      </form>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";

const Toast = Swal.mixin({
    toast: true,
    position: "top-end",
    showConfirmButton: false,
    timer: 3000,
    timerProgressBar: true,
    onOpen: toast => {
        toast.addEventListener("mouseenter", Swal.stopTimer);
        toast.addEventListener("mouseleave", Swal.resumeTimer);
    }
});
import DatePicker from "v-calendar/lib/components/date-picker.umd";
import { AuthService } from "../service/service.js";
export default {
  name: "Profile",
  data() {
    return {};
  },
  components: {
    "v-date-picker": DatePicker,
  },
  computed: {
    phone: {
      get() {
        return this.$store.state.cabinet.phone;
      },
      set(value) {
        this.$store.commit("cabinet/UPDATE_USERDATA", {
          key: "phone",
          value: value,
        });
      },
    },
    name: {
      get() {
        return this.$store.state.cabinet.name;
      },
      set(value) {
        this.$store.commit("cabinet/UPDATE_USERDATA", {
          key: "name",
          value: value,
        });
      },
    },
    email: {
      get() {
        return this.$store.state.cabinet.email;
      },
      set(value) {
        this.$store.commit("cabinet/UPDATE_USERDATA", {
          key: "email",
          value: value,
        });
      },
    },
      password: {
          get() {
              return this.$store.state.cabinet.password;
          },
          set(value) {
              this.$store.commit("cabinet/UPDATE_USERDATA", {
                  key: "password",
                  value: value,
              });
          },
      },
    birthday: {
      get() {
        return this.$store.state.cabinet.birthday;
      },
      set(value) {
        this.$store.commit("cabinet/UPDATE_USERDATA", {
          key: "birthday",
          value: value,
        });
      },
    },
    avatar: {
      get() {
        return this.$store.state.cabinet.avatar;
      },
      set(value) {
        return this.$store.commit("cabinet/UPDATE_USERDATA", {
          key: "avatar",
          value: value,
        });
      },
    },
  },
  props: {
    is_en: {
      required: true,
      default: "0",
    },
  },
  methods: {
    putData(e) {
        Toast.fire({
            icon: "success",
            title: "<a style=\"color: #000\" href=\"/cart\">".concat(this.is_en === 1 ? 'Your information saved': 'Данные сохранены', "</a>")
        });
      let data = new FormData(e.target);

      if(document.getElementById("user-avatar").src === 'http://truefood.kz/cabinet'){
          data.append("new","new");

      }
      data.append("_method", "PUT");

      AuthService.putData(data)
        .then((response) => {})
        .catch((error) => {});
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;

      if (!files.length) return;

      this.setImageSrc(files[0]);
    },
    setImageSrc(file) {
      var reader = new FileReader();

      reader.onload = (e) => {
        document.getElementById("user-avatar").src = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    removeImageSrc(e) {
      document.getElementById("user-avatar").src = '';
    },
  },
};
</script>

<style lang="scss" scoped></style>
