<template>
    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <ul class="router-links">
                    <router-link
                        tag="li"
                        :to="{ name: 'profile', params: { is_en: is_en } }"
                    >
                        <i class="fal fa-user"></i>
                        <a href="javascript:void(0);">
                            <template v-if="!parseInt(is_en)"
                                >Личные данные</template
                            >
                            <template v-else>Personal data</template>
                        </a>
                    </router-link>
                    <router-link
                        tag="li"
                        :to="{ name: 'orders', params: { is_en: is_en } }"
                    >
                        <i class="fal fa-calendar-alt"></i>
                        <a href="javascript:void(0);">
                            <template v-if="!parseInt(is_en)"
                                >История заказов</template
                            >
                            <template v-else>Order's history</template>
                        </a>
                    </router-link>
                    <li @click="logout">
                        <i class="fal fa-sign-out"></i>
                        <a href="javacsript:void(0)">
                            <template v-if="!parseInt(is_en)">Выйти</template>
                            <template v-else>Logout</template>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xl-9 router-view">
                <router-view :is_en="is_en"></router-view>
            </div>
        </div>
    </div>
</template>

<script>
import { AuthService } from "../service/service.js";
export default {
    methods: {
        logout() {
            AuthService.logout().then(() => {
                localStorage.removeItem("TF-XSRF-token");
                window.location.replace("/");
            });
        }
    },
    props: {
        is_en: {
            required: true
        }
    }
};
</script>

<style lang="scss" scoped>
@import "../../sass/utils/mixins";
@import "../../sass/utils/variables";
.router-view {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 38.76px 12.24px rgba(255, 0, 0, 0.06);
}
.router-links {
    list-style: none;
    position: sticky;
    top: 0;
    padding: 0 2rem;
    border-width: 2px;
    border-color: rgb(254, 245, 238);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    li {
        @include flex(row, nowrap, center, flex-start);
        padding: 1.5rem 0;
        border-bottom: 1px solid rgba(201, 201, 201, 0.2);
        &.router-link-exact-active.router-link-active {
            background: red;
            margin-left: -2rem;
            margin-right: -2rem;
            padding: 1.5rem 2rem;
            a {
                color: rgb(255, 255, 255);
            }
            i {
                color: rgb(255, 255, 255);
            }
        }
        &:last-child {
            border-bottom: none;
        }
        i {
            font-size: 25px;
            color: rgb(84, 84, 84);
            margin-right: 1rem;
        }
        a {
            @include text(Comfortaa, 16px, 1.2, 500, rgb(84, 84, 84));
        }
    }
}
</style>
