<template>
  <form style="display: contents;" @submit.prevent="checkout">
    <div class="container" v-if="products.length">
      <div class="cart-item row" v-for="(product, index) in products" :key="index">
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6">
          <img :src="`${product.thumbnail}`" :alt="product.name" />
        </div>
        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-7 col-10">
          <h2 class="name">{{ product.name }}</h2>
          <!-- <p class="sizes">Размер порции</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
              <div v-for="(variation, i) in product.variations" :key="i" style="display: contents">
                <input
                  :id="`size${i}`"
                  type="radio"
                  :value="variation.value"
                  :checked="variation.selected"
                  @input="setSelected(product, variation)"
                />
                <label :for="`size${i}`">
                  {{
                  variation.value
                  }}
                </label>
              </div>
            </div>
            <p class="weight">{{ product.variations[0].dimension_name }}</p>
          </div>-->
        </div>
        <div class="col-xl-7 col-lg-7 col-md-9 col-12">
          <div class="row">
            <div class="col-xl-12">
              <p
                class="bonuses"
                v-if="
                                    product.variations[
                                        product.variations.findIndex(
                                            variation => variation.selected
                                        )
                                    ].cashback
                                "
              >
                <template v-if="!parseInt(is_en)">Бонусы с покупки</template>
                <template v-else>Cashback from purchase</template>
                <span>
                  {{
                  product.variations[
                  product.variations.findIndex(
                  variation => variation.selected
                  )
                  ].cashback
                  }}
                </span>
              </p>
            </div>
          </div>
          <div class="row align-items-center flex-nowrap">
            <div class="col-xl-6 col-lg-7 col-md-7 col-sm-7 col-10">
              <div class="d-flex flex-wrap justify-content-between align-items-center">
                <p class="price">
                  {{
                  (
                  product.variations[
                  product.variations.findIndex(
                  variation =>
                  variation.selected
                  )
                  ].price -
                  product.variations[
                  product.variations.findIndex(
                  variation =>
                  variation.selected
                  )
                  ].discount
                  ).toLocaleString()
                  }}
                  <template
                    v-if="!parseInt(is_en)"
                  >тг</template>
                  <template v-else>tg</template>
                </p>
                <div class="quantity-controls">
                  <button
                    type="button"
                    @click="
                                            decreaseCount({
                                                variation:
                                                    product.variations[
                                                        product.variations.findIndex(
                                                            variation =>
                                                                variation.selected
                                                        )
                                                    ].id,
                                                product_id: product.id
                                            });
                                            product.quantity > 1
                                                ? product.quantity--
                                                : false;
                                        "
                  >-</button>
                  <input disabled type="number" v-model="product.quantity" />
                  <button
                    type="button"
                    @click="
                                            increaseCount({
                                                variation:
                                                    product.variations[
                                                        product.variations.findIndex(
                                                            variation =>
                                                                variation.selected
                                                        )
                                                    ].id,
                                                product_id: product.id
                                            });
                                            product.quantity++;
                                        "
                  >+</button>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-3 col-sm-4 col-5">
              <p class="quantum">
                {{
                (
                (product.variations[
                product.variations.findIndex(
                variation => variation.selected
                )
                ].price -
                product.variations[
                product.variations.findIndex(
                variation =>
                variation.selected
                )
                ].discount) *
                product.quantity
                ).toLocaleString()
                }}
                <template
                  v-if="!parseInt(is_en)"
                >тг</template>
                <template v-else>tg</template>
              </p>
            </div>
            <div class="col-xl-2 col-md-1 col-2">
              <i
                @click="
                                    deleteFromCart({
                                        product_id: product.id,
                                        variation:
                                            product.variations[
                                                product.variations.findIndex(
                                                    variation =>
                                                        variation.selected
                                                )
                                            ].id
                                    })
                                "
                class="fal fa-times"
              ></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-5 justify-content-center justify-content-sm-end">
        <a href="/catalog" class="back-to-shopping">
          <template v-if="!parseInt(is_en)">Вернуться к покупкам</template>
          <template v-else>Go back to shopping</template>
        </a>
      </div>
      <div class="row mb-5">
        <div class="offset-xl-1 offset-sm-1"></div>
        <div class="col-xl-6 col-sm-6">
          <div class="mb-4">
            <div class="form-group">
              <h2>
                <template v-if="!parseInt(is_en)">Способ оплаты</template>
                <template v-else>Payment type</template>
              </h2>
            </div>
            <div class="form-group">
              <div
                class="form-check form-check-inline"
                v-for="(payment, index) in paymentTypes"
                :key="index"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="payment_type_id"
                  :id="`payment_type${payment.id}`"
                  :value="payment.id"
                  @input="savePaymentType"
                  :checked="
                                        savedPaymentType
                                            ? savedPaymentType == payment.id
                                                ? 'checked'
                                                : false
                                            : index == 0
                                            ? 'checked'
                                            : false
                                    "
                />
                <label
                  class="form-check-label"
                  :for="`payment_type${payment.id}`"
                >{{ payment.name }}</label>
              </div>
            </div>
          </div>
          <div class="mb-4">
            <div class="form-group">
              <div class="custom-control custom-switch">
                <input
                  type="checkbox"
                  name="bonuses"
                  v-model="bonusChecked"
                  :value="
                                        bill > totalPrice ? totalPrice : bill
                                    "
                  class="custom-control-input"
                  id="customSwitch1"
                />
                <label class="custom-control-label" for="customSwitch1">
                  <template v-if="!parseInt(is_en)">
                    Потратить бонусы:
                    {{ bill }} баллов
                  </template>
                  <template v-else>
                    Spend bonuses:
                    {{ bill }} points
                  </template>
                </label>
              </div>
            </div>
          </div>
          <div class="mb-4" v-if="bonusChecked">
            <div class="form-group">
              <div class="bonus-checked">
                <p v-if="!parseInt(is_en)">Будет списано</p>
                <p v-else>You will pay</p>
                <div class="bonus_card">
                  {{
                  totalPrice - bill >= 0
                  ? totalPrice - bill
                  : 0
                  }}
                    <div v-if="parseInt(savedPaymentType) === 1">
                        <span
                            v-if="!parseInt(is_en)"
                        >С карты</span>
                        <span v-else>From card</span>
                    </div>
                    <div v-if="parseInt(savedPaymentType) === 2">
                        <span
                            v-if="!parseInt(is_en)"
                        >Наличными</span>
                        <span v-else>In cash</span>
                    </div>
                </div>
                <div class="bonus_card active">
                  {{ bill > totalPrice ? totalPrice : bill }}
                  <span v-if="!parseInt(is_en)">бонусы</span>
                  <span v-else>bonuses</span>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-4">
            <div class="form-group">
              <h2>
                <template v-if="!parseInt(is_en)">Доставка</template>
                <template v-else>Delivery</template>
              </h2>
            </div>
            <div class="form-group d-flex justify-cotent-between">
              <div class="form-check form-check-inline" v-for="(delivery, index) in deliveryTypes">
                <input
                  class="form-check-input"
                  type="radio"
                  name="delivery_type"
                  :id="`delivery_type${delivery.id}`"
                  :value="delivery.id"
                  :checked="
                                        savedDeliveryType
                                            ? savedDeliveryType == delivery.id
                                                ? 'checked'
                                                : false
                                            : index == 0
                                            ? 'checked'
                                            : false
                                    "
                  @input="
                                        setDeliverable(
                                            $event,
                                            delivery.is_deliverable
                                        )
                                    "
                />
                <label
                  class="form-check-label"
                  :for="`delivery_type${delivery.id}`"
                >{{ delivery.name }}</label>
              </div>
              <a href="javascript:void(0)" class="pickup-time" @click="showModal">
                {{ fuckingDate ? fuckingDate : "" }}
                <object
                  v-if="!fuckingDate"
                  data="/images/clock.svg"
                  type="image/svg+xml"
                ></object>
              </a>
            </div>
          </div>
          <div class="mb-4" v-if="deliverable">
            <div class="form-group">
              <h3>
                <template v-if="!parseInt(is_en)">Место доставки</template>
                <template v-else>Delivery place</template>
              </h3>
            </div>
            <div class="form-group d-md-flex justify-content-between">
              <div
                class="form-check form-check-inline"
                v-for="(place, index) in places"
                :key="index"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="delievery_place_id"
                  :id="`delievery_place_id${place.id}`"
                  :value="place.id"
                  @input="saveDeliveryPlace"
                  :checked="
                                        savedDeliveryPlace
                                            ? savedDeliveryPlace == place.id
                                                ? 'checked'
                                                : false
                                            : index == 0
                                            ? 'checked'
                                            : false
                                    "
                />
                <label
                  class="form-check-label"
                  :for="`delievery_place_id${place.id}`"
                >{{ place.name }}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6 form-group" v-if="deliverable">
              <template v-if="$v.cabinet_number.$error">
                <h3 class="text-danger mb-3" v-if="!$v.cabinet_number.required">
                  <template v-if="!parseInt(is_en)">Номер кабинета обязателен</template>
                  <template v-else>Cabinet number is required</template>
                </h3>
              </template>
              <template v-else>
                <h3 class="mb-3">
                  <template v-if="!parseInt(is_en)">Введите номер кабинета или точный адрес</template>
                  <template v-else>Enter cabinet number or address</template>
                </h3>
              </template>
              <input
                class="form-control"
                type="text"
                @input="setCabinet($event)"
                name="cabinet_number"
                placeholder="20"
                v-model="cabinet_number"
              />
            </div>
            <div class="col-xl-6 form-group">
              <template v-if="$v.phone.$error">
                <h3 class="text-danger mb-3" v-if="!$v.phone.required">
                  <template v-if="!parseInt(is_en)">Номер телефона обязателен</template>
                  <template v-else>Phone number is required</template>
                </h3>
              </template>
              <template v-else>
                <h3 class="mb-3">
                  <template v-if="!parseInt(is_en)">Введите номер телефона</template>
                  <template v-else>Enter phone number</template>
                </h3>
              </template>

              <input
                class="form-control"
                @input="setPhone($event)"
                type="tel"
                name="phone"
                placeholder="+7 (___)-___-__-__"
                v-model="phone"
              />
            </div>
            <div class="col-xl-12 form-group">
              <h3 class="mb-3">
                <template v-if="!parseInt(is_en)">Пожелание к заказу</template>
                <template v-else>Request to order</template>
              </h3>
              <textarea
                class="form-control"
                name="message"
                @input="saveMessage"
                v-model="savedMessage"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="offset-xl-1"></div>
        <div class="col-xl-4 col-sm-5">
          <div class="form-group border-bottom mb-0 pb-3">
            <h1>
              <template v-if="!parseInt(is_en)">Сумма заказа</template>
              <template v-else>Order's total sum</template>
            </h1>
          </div>
          <div class="form-group border-bottom mb-0 py-3">
            <div class="total_price">
              <p>
                <template v-if="!parseInt(is_en)">Итого</template>
                <template v-else>Total</template>
              </p>
              <h4>
                {{ totalPrice }}
                <template v-if="!parseInt(is_en)">тг</template>
                <template v-else>tg</template>
              </h4>
            </div>
          </div>
          <div class="form-group border-bottom mb-0 py-3">
            <div class="total_quantity">
              <p>
                <template v-if="!parseInt(is_en)">Всего порций</template>
                <template v-else>Total servings</template>
              </p>
              <h4>{{ totalCount }}</h4>
            </div>
          </div>
          <div class="form-group d-flex justify-content-end mt-5">
            <button type="submit">
              <template v-if="!parseInt(is_en)">Оформить заказ</template>
              <template v-else>Checkout</template>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <h1 class="title">
            <template v-if="!parseInt(is_en)">
              Ваша корзина пуста, перейдите в
              <a href="/catalog">каталог</a>
            </template>
            <template v-else>
              Your basket is empty, go to
              <a href="/catalog">catalog</a>
            </template>
          </h1>
        </div>
      </div>
    </div>
    <pickupthrough :is_en="is_en"></pickupthrough>
  </form>
</template>

<script>
import { mapState, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";
import PickupThrough from "./modal/PickupThrough.vue";
import { Datetime } from "vue-datetime";
export default {
  data() {
    return {
      deliverable: localStorage.getItem("is_deliverable")
        ? parseInt(localStorage.getItem("is_deliverable"))
        : true,
      cabinet_number: localStorage.getItem("savedCabinetNumber")
        ? localStorage.getItem("savedCabinetNumber")
        : "",
      savedPaymentType: localStorage.getItem("savedPaymentType") || 1,
      savedDeliveryType: localStorage.getItem("savedDeliveryType"),
      savedDeliveryPlace: localStorage.getItem("savedDeliveryPlace"),
      savedMessage: localStorage.getItem("savedMessage")
        ? localStorage.getItem("savedMessage")
        : "",
      bonusChecked: false,
      paymnetType: null,
    };
  },
  components: {
    pickupthrough: PickupThrough,
    datetime: Datetime,
  },
  validations: {
    phone: {
      required,
    },
    cabinet_number: {
      required,
    },
    pick_up_at: {
      required,
    },
  },
  computed: {
    ...mapState({
      products: state => state.cart.products,
      places: (state) => state.cart.places,
      paymentTypes: (state) => state.cart.paymentTypes,
      deliveryTypes: (state) => state.cart.deliveryTypes,
      bill: (state) => state.cabinet.bill,
      pickupPlaces: (state) => state.cart.pickupPlaces,
      min: (state) => state.cart.min,
    }),

    phone: {
      get() {
        return this.$store.state.cabinet.phone;
      },
      set(value) {
        this.$store.commit("cabinet/UPDATE_USERDATA", {
          key: "phone",
          value: value,
        });
      },
    },
    pick_up_at: {
      get() {
        return this.$store.state.cart.pick_up_at;
      },
      set(val) {
        if (val) {
          localStorage.setItem("savedPickupAt", val);
        }
        this.$store.commit("cart/UPDATE_DELIVER_AT", val);
      },
    },
    fuckingDate() {
      if (this.pick_up_at) {
        let date = new Date(this.pick_up_at);
        var Str =
          ("00" + date.getDate()).slice(-2) +
          "/" +
          ("00" + (date.getMonth() + 1)).slice(-2) +
          " " +
          ("00" + date.getHours()).slice(-2) +
          ":" +
          ("00" + date.getMinutes()).slice(-2);

        return Str;
      } else {
        return null;
      }
    },
    totalPrice() {
      let total = 0;
      for (const product of this.products) {
        for (const variation of product.variations) {
          if (variation.selected) {
            total += (variation.price - variation.discount) * product.quantity;
          }
        }
      }
      return total;
    },
    totalCount() {
      let total = 0;
      for (const product of this.products) {
        total += parseInt(product.quantity);
      }
      return total.toLocaleString();
    },
  },
  props: {
    is_en: {
      type: String,
      required: true,
    },
  },
  methods: {
    ...mapActions("cart", ["deleteFromCart", "increaseCount", "decreaseCount"]),
    forceRendering(){
        this.$forceUpdate()
    },
    setSelected(product, currentVariation) {
      for (const variation of product.variations) {
        variation.selected = 0;
      }
      currentVariation.selected = 1;
    },
    savePaymentType(e) {
        this.savedPaymentType = e.target.value
      localStorage.setItem("savedPaymentType", e.target.value);
    },
    saveDeliveryPlace(e) {
      localStorage.setItem("savedDeliveryPlace", e.target.value);
    },
    saveMessage(e) {
      localStorage.setItem("savedMessage", e.target.value);
    },
    setCabinet(e) {
      this.cabinet_number = e.target.value;
      localStorage.setItem("savedCabinetNumber", e.target.value);
      this.$v.cabinet_number.$touch();
    },
    setPhone(e) {
      this.phone = e.target.value;
      this.$v.phone.$touch();
    },
    setBonus(e) {
      if (e.target.value > this.bill) {
        e.target.value = this.bill;
      }
    },
    setDeliverable(e, is_deliverable) {
      localStorage.setItem("savedDeliveryType", e.target.value);
      if (is_deliverable) {
        this.deliverable = true;

        localStorage.setItem("is_deliverable", 1);
      } else {
        this.deliverable = false;
        localStorage.setItem("is_deliverable", 0);
      }
    },
    showModal() {
      this.$modal.show("pickupThrough");
    },
    checkout(e) {
      this.$v.$touch();
      let data = new FormData(e.target);
      for (const product of this.products) {
        for (const variation of product.variations) {
          if (variation.selected) {
            let obj = {
              quantity: product.quantity,
              product: product.id,
              variation_id: variation.id,
            };

            data.append("cart[]", JSON.stringify(obj));
          }
        }
      }
      this.$store.dispatch("cart/checkout", data);
    },
  },
  created() {
      let counterNew = localStorage.getItem('counter')
      this.$store.dispatch("cart/fetchProducts")
      setInterval(()=>{
          let counter = localStorage.getItem('counter')
          if (!counter){
              this.$store.dispatch("cart/fetchProducts")
          }else{

              if (counterNew !== counter){
                  this.$store.dispatch("cart/fetchProducts")
                  counterNew = counter
                  localStorage.setItem('counter',counterNew)
              }
          }
      },1500)
      this.$store.dispatch("cart/fetchPaymentTypes");
      this.$store.dispatch("cart/fetchPlaces");
      this.$store.dispatch("cart/fetchDeliveryTypes");
      this.$store.dispatch("cart/fetchPickupPlaces");
  },
  mounted() {
  }
};
</script>

<style lang="scss" scoped>
.title {
  font-family: Comfortaa;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 900;
  color: rgb(84, 84, 84);
  a {
    color: rgb(255, 0, 0);
  }
}
</style>
