<template>
  <div class="container">
    <div class="row">
      <!-- <div class="col-xl-3 col-lg-3 col-md-4 col-12">
        <h3>Фильтр</h3>
        <form @submit.prevent="applyFilters" class="filters mt-4" role="tablist">
          <div class="form-group">
            <b-card no-body>
              <b-card-header header-tag="div" role="tab">
                <b-button block v-b-toggle.accordion-price>
                  Цена
                  <i class="fas fa-sort-down"></i>
                </b-button>
              </b-card-header>
              <b-collapse id="accordion-price" visible role="tabpanel">
                <b-card-body>
                  <vue-range-slider
                    ref="slider"
                    v-model="price"
                    :min="0"
                    :max="maxprice"
                    :use-keyboard="false"
                  ></vue-range-slider>
                </b-card-body>
              </b-collapse>
            </b-card>
            <b-card no-body v-for="(filter, index) in filters" :key="index">
              <b-card-header v-if="filter.length > 0" header-tag="div" role="tab">
                <b-button
                  block
                  v-b-toggle="
                                        `accordion-${index.replace(' ', '')}`
                                    "
                >
                  {{ index }}
                  <i class="fas fa-sort-down"></i>
                </b-button>
              </b-card-header>
              <b-collapse :id="`accordion-${index.replace(' ', '')}`" role="tabpanel">
                <b-card-body>
                  <ul>
                    <li
                      v-for="(specification, i) in filter"
                      :key="i"
                      v-if="specification.dimention_id"
                    >
                      <label>
                        <input
                          class="checkbox"
                          type="checkbox"
                          v-model="
                                                        params[
                                                            `${specification.slug}`
                                                        ]
                                                    "
                          :name="
                                                        `${specification.slug}`
                                                    "
                          :value="
                                                        `${specification.value}_${specification.dimention_id}`
                                                    "
                        />
                        {{
                        specification.value +
                        " " +
                        specification.dimention_short_name
                        }}
                      </label>
                    </li>
                    <li v-else>
                      <label>
                        <input
                          class="checkbox"
                          type="checkbox"
                          v-model="params[`category`]"
                          :name="`category`"
                          :value="`${specification.id}`"
                        />
                        {{
                        specification.name
                        }}
                      </label>
                    </li>
                  </ul>
                </b-card-body>
              </b-collapse>
            </b-card>
          </div>
          <button type="submit" class="apply-btn my-4">Применить</button>
          <div class="d-flex justify-content-center">
            <button type="button" class="reset-btn my-4" @click.prevent="resetFilters">Сбросить</button>
          </div>
        </form>
      </div>-->
      <!-- <div class="col-xl-9 col-lg-9 col-md-8 col-12 my-5 my-md-0"> -->
      <div class="col-12 mb-5">
        <div class="swiper-button-prev" @click="swiperPrev" slot="button-prev"></div>
        <swiper ref="categoriesSwiper" :options="options">
          <swiper-slide v-for="(ctg, index) in filters.categories" :key="index">
            <div ref="category" class="category">
              <input
                type="radio"
                name="cateogry"
                :id="`${ctg.name}_${ctg.id}`"
                :value="ctg.id"
                @input="setCategory"
              />
              <label :for="`${ctg.name}_${ctg.id}`">{{ ctg.name }}</label>
            </div>
          </swiper-slide>
        </swiper>
        <div class="swiper-button-next" @click="swiperNext" slot="button-next"></div>
      </div>
      <div class="col-12">
        <ul class="sorters">
          <li>
            <p v-if="!parseInt(is_en)">Сортировать по:</p>
            <p v-else>Sort by:</p>
          </li>
          <li v-for="(sorter, index) in sorters" :key="index">
            <button
              type="button"
              :name="sorter.name"
              :class="[
                                'btn',
                                { active: activeSorter === sorter.name }
                            ]"
              @click="sortProducts"
            >
              <span>{{ sorter.value }}</span>
              <i :class="sorter.icon"></i>
            </button>
          </li>
        </ul>
        <div class="row mb-5">
          <!-- <div
            v-for="(product, index) in products"
            :key="index"
            class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mt-4"
          >-->
          <div
            v-for="(product, index) in products"
            :key="index"
            class="col-xl-3 col-lg-3 col-md-4 col-sm-6 mt-4"
          >
            <div class="product-card">
              <div class="product-header">
                <a :href="`/products/${product.slug}`">
                  <img :src="`${product.thumbnail}`" />
                </a>
              </div>
              <div class="product-body p-3 pt-0">
                <h2 class="name">{{ product.name }}</h2>
                <p class="description" style="word-break: break-word;">{{ product.description.replace(/<\/?[^>]+(>|$)/g, "") }}</p>
                <div class="d-flex justify-content-between">
                  <p class="price">
                    {{ product.variations[0].price }}
                    <template v-if="!parseInt(is_en)">тг</template>
                    <template v-else>tg</template>
                  </p>
                  <p class="discount">
                    {{percent_cashback}}
                    <template v-if="!parseInt(is_en)">%</template>
                    <template v-else>%</template>
                  </p>
                </div>
              </div>
              <button
                class="cart-btn"
                @click="
                                    addToCart({
                                        variation: product.variations[0].id,
                                        product_id: product.id
                                    })
                                "
              >
                <i class="fal fa-shopping-bag"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <paginate
              v-if="total > 1"
              :page-count="total"
              :click-handler="paginate"
              :prev-text="
                                `<i class='fal fa-long-arrow-left'></i>`
                            "
              :next-text="
                                `<i class='fal fa-long-arrow-right'></i>`
                            "
              :container-class="'pagination'"
              :page-class="'page-item'"
              :page-range="4"
              prev-class="prev"
              next-class="next"
            ></paginate>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import VueRangeSlider from "vue-range-component";
import { Swiper, SwiperSlide, directive } from "vue-awesome-swiper";
import "vue-range-component/dist/vue-range-slider.css";
import "swiper/swiper-bundle.css";
export default {
  directives: {
    swiper: directive,
  },
  data() {
    return {
      ratings: [1, 2, 3, 4, 5],
      price: [0, 0],
      options: {
        direction: "horizontal",
        breakpoints: {
          360: {
            slidesPerView: 1,
            spaceBetween: 0,
          },
          576: {
            slidesPerView: 2,
            spaceBetween: 20,
          },
          768: {
            slidesPerView: 3,
            spaceBetween: 30,
          },
          992: {
            slidesPerView: 4,
            spaceBetween: 20,
          },
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      },
      sorters: [
        {
          value: this.by_rating_lang,
          name: "byRating",
          icon: "fal fa-sort-numeric-down-alt",
        },
        {
          value: this.price_desc_lang,
          name: "desc",
          icon: "fal fa-sort-size-down",
        },
        {
          value: this.price_asc_lang,
          name: "asc",
          icon: "fal fa-sort-size-up-alt",
        },
      ],
      activeSorter: undefined,
    };
  },
  props: {
    is_en: {
      type: String,
      required: true,
    },
    category: {
      type: [String, Number],
      requried: false,
    },
    price_asc_lang: {
      type: String,
      required: true,
    },
    price_desc_lang: {
      type: String,
      required: true,
    },
    by_rating_lang: {
      type: String,
      required: true,
    },
    percent_cashback:{
        type:String,
        required:true
    }
  },
  components: {
    Swiper,
    SwiperSlide,
  },
  computed: {
    ...mapState({
      products: (state) => state.catalog.products,
      filters: (state) => state.catalog.filters,
      maxprice: (state) => state.catalog.maxprice,
      total: (state) => state.catalog.total,
      currentPage: (state) => state.catalog.currentPage,
      params: (state) => state.catalog.params,
    }),
  },
  methods: {
    ...mapActions("cart", ["addToCart"]),
    swiperNext() {
      this.$refs.categoriesSwiper.$swiper.slideNext();
    },
    swiperPrev() {
      this.$refs.categoriesSwiper.$swiper.slidePrev();
    },
    sortProducts(e) {
      this.activeSorter = e.target.getAttribute("name");
      // if (this.price[1] == 0) {
      //   this.price[1] = this.maxprice;
      //   this.params["price"] = this.price;
      // } else {
      //   this.params["price"] = this.price;
      // }
      if (this.activeSorter == "byRating") {
        this.params["byRating"] = 1;
        if (this.params["byPrice"]) {
          delete this.params["byPrice"];
        }
      } else if (this.activeSorter == "desc") {
        this.params["byPrice"] = "desc";
        if (this.params["byRating"]) {
          delete this.params["byRating"];
        }
      } else {
        this.params["byPrice"] = "asc";
        if (this.params["byRating"]) {
          delete this.params["byRating"];
        }
      }
      if (this.category) {
        this.params["category"] = [this.category];
      }
      this.params["paginated"] = 1;
      this.params["page"] = 1;
      this.$store.dispatch("catalog/fetchProducts", {
        parametrs: this.params,
      });
    },
    setCategory(e) {
      this.category = e.target.value;
      this.params["category"] = [e.target.value];
      this.params["paginated"] = 1;
      this.params["page"] = 1;
      this.$store.dispatch("catalog/fetchProducts", {
        parametrs: this.params,
      });
    },
    applyFilters() {
      if (this.price[1] == 0) {
        this.price[1] = this.maxprice;
        this.params["price"] = this.price;
      } else {
        this.params["price"] = this.price;
      }
      if (this.category) {
        this.params["category"] = this.category;
      }
      this.params["paginated"] = 1;
      this.params["page"] = 1;
      this.$store.dispatch("catalog/fetchProducts", {
        parametrs: this.params,
      });
    },
    resetFilters() {
      this.price[0] = 0;
      this.price[1] = this.maxprice;
      document.querySelectorAll(".checkbox").forEach((checkbox) => {
        checkbox.checked = false;
      });
      this.$store.commit("catalog/CLEAR_PARAMS");
    },
    paginate(page) {
      this.params["paginated"] = 1;
      this.params["page"] = page;
      this.$store.dispatch("catalog/fetchProducts", {
        parametrs: this.params,
      });
    },
  },
  created() {
    // this.$store.dispatch("catalog/fetchFilters", {
    //   parametrs: {
    //     category: this.category ? [this.category] : undefined,
    //   },
    // });
    this.$store.dispatch("catalog/fetchCategories");

    this.$store.dispatch("catalog/fetchProducts", {
      parametrs: {
        category: this.category ? [this.category] : undefined,
        paginated: 1,
      },
    });
  },
};
</script>

<style lang="scss"></style>
