<template>
  <form @submit.prevent="sendGiftcard" style="display: contents">
    <div class="container">
      <div class="row border-bottom pb-5">
        <div
          class="col-xl-4 col-lg-4 col-md-6 mb-5"
          v-for="(giftcard, index) in giftcards"
          :key="index"
        >
          <label class="card">
            <img :src="`/storage/${giftcard.thumbnail}`" />
            <input
              :id="`card${giftcard.id}`"
              type="radio"
              :value="giftcard.id"
              v-model="selectedCard"
              name="gift_card_id"
              @input="scrollBottom"
            />
            <label :for="`card${giftcard.id}`">
              <template v-if="!parseInt(is_en)">Выбрать</template>
              <template v-else>Choose</template>
            </label>
          </label>
        </div>
      </div>
      <div class="row justify-content-center py-5" ref="goFuckYourself">
        <div class="col-xl-4 col-lg-4 col-md-6 mb-5 mb-md-0 text-center">
          <div class="form-group">
            <h2>
              <template v-if="!parseInt(is_en)">Или впишите свою сумму</template>
              <template v-else>Or enter your amount</template>
            </h2>
          </div>
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              name="name"
              :placeholder="!parseInt(is_en) ? 'От кого' : 'From whom'"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              type="number"
              name="price"
              v-model="selectedPrice"
              :placeholder="!parseInt(is_en) ? '5 500 тг' : '5 500 tg'"
            />
          </div>

          <div class="form-group">
            <input class="form-control" type="email" name="email" :placeholder="!parseInt(is_en) ? 'Email получателя': 'Recipient email'" />
          </div>
          <div class="form-group">
            <textarea class="form-control" name="comment"></textarea>
          </div>
          <div class="form-group">
            <button type="submit">
              <template v-if="!parseInt(is_en)">Оформить подарочную карту</template>
              <template v-else>Issue a gift card</template>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      selectedCard: null,
    };
  },
  computed: {
    ...mapState({
      giftcards: (state) => state.giftcard.giftcards,
    }),
    selectedPrice() {
      if (this.selectedCard) {
        let index = this.giftcards.findIndex(
          (card) => card.id == this.selectedCard
        );
        return this.giftcards[index].price;
      } else {
        return;
      }
    },
    goFuckYourself() {
      return this.$refs.goFuckYourself;
    },
  },
  props: {
    is_en: {
      type: String,
      required: true,
    },
  },
  methods: {
    sendGiftcard(e) {
      let data = new FormData(e.target);
      this.$store.dispatch("giftcard/sendGiftcard", data);
    },
    scrollBottom() {
      this.goFuckYourself.scrollIntoView();
    },
  },
  created() {
    this.$store.dispatch("giftcard/fetchGiftcards");
  },
};
</script>

<style lang="scss" scoped></style>
