<template>
  <div class="col-xl-4 col-md-9">
    <h1 class="title">{{ new_product_main.name }}</h1>
    <div class="d-flex flex-wrap align-items-center justify-content-between my-4">
      <a class="category" href="#">{{ category_name }}</a>
      <div class="rating">
        <label
          class="rating-star"
          v-for="(rating, index) in ratings"
          :key="index"
          :class="{
                        selected:
                            new_product_main.rating >= rating &&
                            new_product_main.rating != null
                    }"
        >
          <i class="fas fa-star"></i>
        </label>
      </div>
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-between my-4">
      <p class="price">
        {{
        new_product_main.variations[selected].price -
        new_product_main.variations[selected].discount
        }}
        <template
          v-if="!parseInt(is_en)"
        >тг</template>
        <template v-else>tg</template>
      </p>
      <p class="bonuses">
        <template v-if="!parseInt(is_en)">Кэшбек</template>
        <template v-else>Cashback</template>
        <span>
          {{ percent_cashback }}
        </span>
      </p>
    </div>
    <form @submit.prevent id="cartForm">
      <!-- <div class="form-group">
                <h4>Размер порции</h4>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex">
                        <div
                            style="display: contents"
                            v-for="(variation,
                            index) in new_product_main.variations"
                            :key="index"
                        >
                            <input
                                :id="`size${index}`"
                                type="radio"
                                value="160"
                                name="size"
                                :checked="index == 0 ? 'checked' : false"
                                @input="setSelected(index)"
                            />
                            <label :for="`size${index}`">{{
                                variation.value
                            }}</label>
                        </div>
                    </div>
                    <p class="weight">{{ dimension_name }}</p>
                </div>
      </div>-->
      <div class="form-group">
        <h4>
          <template v-if="!parseInt(is_en)">Количество порций</template>
          <template v-else>Number of servings</template>
        </h4>
        <div class="d-flex justify-content-between align-items-center">
          <div class="quantity-controls">
            <button type="button" @click="quantity > 1 ? quantity-- : false">-</button>
            <input disabled type="number" value="1" v-model="quantity" />
            <button @click="quantity++" type="button">+</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button
          type="button"
          class="cart-btn"
          @click="
                        addToCart({
                            variation: new_product_main.variations[selected].id,
                            product_id: new_product_main.id,
                            quantity: quantity
                        })
                    "
        >
          <template v-if="!parseInt(is_en)">В корзину</template>
          <template v-else>Add to cart</template>
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      new_product_main: {},
      ratings: [1, 2, 3, 4, 5],
      quantity: 1,
    };
  },
  props: {
    product_main: {
      required: true,
    },
    category_name: {
      required: true,
    },
    dimension_name: {
      required: true,
    },
    is_en: {
      required: true,
    },
    percent_cashback:{
        required:true
    }
  },
  computed: {
    selected: {
      get() {
        return this.new_product_main.variations.findIndex(
          (variation) => variation.is_main
        );
      },
      set(value) {
        for (const variation of this.new_product_main.variations) {
          variation.is_main = 0;
        }
        this.new_product_main.variations[value].is_main = 1;
      },
    },
  },
  methods: {
    ...mapActions("cart", ["addToCart"]),
    setSelected(index) {
      this.selected = index;
      console.log(this.selected, index);
    },
  },
  created() {
    this.new_product_main = this.product_main;
  },
};
</script>

<style lang="scss" scoped></style>
