<template>
  <div id="reviews" class="py-5">
    <h1>
      <template v-if="!parseInt(is_en)">Комментарии</template>
      <template v-else>Commentaries</template>
    </h1>
    <div class="review" v-for="(review, index) in reviews" :key="index">
      <p class="date">
        {{
        `${
        months[new Date(review.created_at).getMonth()]
        } ${new Date(review.created_at).getDate()} - ${new Date(
        review.created_at
        ).getYear() + 1900}`
        }}
      </p>
      <h3 class="name">{{ review.attachment }}</h3>
      <div class="rating">
        <label
          class="rating-star"
          v-for="(rating, index) in ratings"
          :key="index"
          :class="{
                        selected:
                            review.rating >= rating && review.rating != null
                    }"
        >
          <i class="fas fa-star"></i>
        </label>
      </div>
      <p class="comment">{{ review.message }}</p>
    </div>
    <form @submit.prevent="postReview" class="my-5">
      <div class="form-group">
        <h1>
          <template v-if="!parseInt(is_en)">Добавить новый комментарий</template>
          <template v-else>Add new commentary</template>
        </h1>
      </div>
      <div class="form-group">
        <label>
          <template v-if="!parseInt(is_en)">Рейтинг</template>
          <template v-else>Rating</template>
          <div class="rating">
            <input type="radio" value="5" name="rating" id="rating-5" />
            <label class="rating-star" for="rating-5">
              <i class="fas fa-star"></i>
            </label>
            <input type="radio" value="4" name="rating" id="rating-4" />
            <label class="rating-star" for="rating-4">
              <i class="fas fa-star"></i>
            </label>
            <input type="radio" value="3" name="rating" id="rating-3" />
            <label class="rating-star" for="rating-3">
              <i class="fas fa-star"></i>
            </label>
            <input type="radio" value="2" name="rating" id="rating-2" />
            <label class="rating-star" for="rating-2">
              <i class="fas fa-star"></i>
            </label>
            <input type="radio" value="1" name="rating" id="rating-1" />
            <label class="rating-star" for="rating-1">
              <i class="fas fa-star"></i>
            </label>
          </div>
        </label>
      </div>
      <div class="form-group">
        <textarea
          class="form-control"
          name="message"
          :placeholder="parseInt(is_en) ? 'Commentary' : 'Комментарий'"
        ></textarea>
      </div>
      <div class="form-group d-flex flex-wrap justify-content-between">
        <input
          class="form-control"
          name="attachment"
          type="text"
          :placeholder="parseInt(is_en) ? 'Name' : 'Имя'"
        />
        <input class="form-control" name="phone" type="email" placeholder="E-mail" />
      </div>
      <div class="form-group">
        <button type="submit">
          <template v-if="!parseInt(is_en)">Отправить</template>
          <template v-else>Send</template>
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      ratings: [1, 2, 3, 4, 5],
      months: [
        "Январь",
        "Февраль",
        "Март",
        "Апрель",
        "Май",
        "Июнь",
        "Июль",
        "Август",
        "Сентябрь",
        "Октябрь",
        "Ноябрь",
        "Декабрь",
      ],
    };
  },
  props: {
    product_id: {
      required: true,
    },
    is_en: {
      required: true,
    },
  },
  computed: {
    ...mapState({
      reviews: (state) => state.reviews.reviews,
    }),
  },
  methods: {
    postReview(e) {
      let data = new FormData(e.target);
      data.append("product_id", this.product_id);
      this.$store.dispatch("reviews/postReview", data);
    },
  },
  created() {
    this.$store.dispatch("reviews/getReviews", this.product_id);
  },
};
</script>

<style lang="scss" scoped>
@import "../../sass/utils/mixins";
@import "../../sass/utils/variables";
#reviews {
  border-top: 2px solid rgb(254, 245, 238);
  h1 {
    @include text(Comfortaa, 35px, 1.2, 900, rgb(34, 34, 34));
  }
  .review {
    @include flex(column, nowrap, flex-start, space-between);
    border-bottom: 2px solid rgb(254, 245, 238);
    display: flex;
    padding: 1.5rem 0 3rem 0;
    .rating {
      margin-bottom: 1.5rem;
      max-width: 80px;
      .rating-star {
        font-size: 12px;
      }
    }
    .date {
      @include text(Comfortaa, 14px, 1.2, 500, rgb(153, 153, 153));
      text-transform: uppercase;
      margin-bottom: 1.5rem;
    }
    .name {
      @include text(Comfortaa, 24px, 1.25, bold, rgb(68, 68, 68));
      margin-bottom: 1.5rem;
    }
    .comment {
      @include text(Comfortaa, 18px, 2, normal, rgb(34, 34, 34));
    }
  }
  form {
    .form-group {
      margin-bottom: 1.5rem;
    }
    label {
      @include flex(row, wrap, center, space-between);
      width: 100%;
      max-width: 200px;
      @include text(Comfortaa, 16px, 1.875, normal, rgb(34, 34, 34));
    }
    .rating {
      @include flex(row-reverse, nowrap, center, space-between);
      max-width: 110px;
      input {
        display: none;
      }
      .rating-star:hover,
      .rating-star:hover ~ .rating-star,
      input:checked ~ .rating-star {
        color: rgb(255, 198, 0);
      }
      .rating-star {
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        font-size: 17px;
        color: rgb(228, 228, 228);
        transition: color 0.2s ease-out;
        font-weight: 600;
        &:hover {
          cursor: pointer;
        }
      }
    }
    textarea {
      width: 100%;
      @include text(Comfortaa, 16px, 2.25, 500, rgb(34, 34, 34));
      border-radius: 5px;
      background-color: rgb(247, 247, 247);
      height: 135px;
      resize: none;
      border: none;
      padding: 25px;
      &::-webkit-input-placeholder,
      &:-moz-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder,
      &::placeholder {
        color: rgb(153, 153, 153);
      }
    }
    input {
      @include text(Comfortaa, 16px, 2.25, 500, rgb(34, 34, 34));
      border-radius: 5px;
      background-color: rgb(247, 247, 247);
      height: 55px;
      width: 540px;
      border: none;
      padding: 25px;
      &::-webkit-input-placeholder,
      &:-moz-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder,
      &::placeholder {
        color: rgb(153, 153, 153);
      }
    }
    button {
      @include text(Comfortaa, 18px, 1.667, 700, rgb(255, 255, 255));
      background-color: rgb(255, 0, 0);
      border: none;
      max-width: 248px;
      width: 100%;
      height: 56px;
    }
  }
}
@media (max-width: 768px) {
  #reviews form input:first-child {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  #reviews form input {
    width: 340px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  #reviews form input {
    width: 450px;
  }
}
</style>
