.background-image {
    background-image: var(--background-image);
}
.background-repeat {
    background-repeat: var(--background-repeat);
}
.background-size {
    background-size: var(--background-size);
}
.background-position {
    background-position: var(--background-position);
}
.padding-top {
    padding-top: var(--padding-top);
}
.padding-bottom {
    padding-bottom: var(--padding-bottom);
}

@media (max-width: 576px) {
    .padding-top {
        padding-top: calc(var(--padding-top) / 2);
    }
    .padding-bottom {
        padding-bottom: calc(var(--padding-bottom) / 2);
    }
}

@media (min-width: 577px) and (max-width: 768px) {
}
