<template>
  <div style=" max-width: 230px; width: 100%;" v-if="authorized">
    <a href="/cabinet" role="button" class="auth-btn">
      {{ name }}
      <span>{{ bill_lang.split(':')[0] + ": " + bill + bill_lang.split(':')[1] }}</span>
    </a>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {};
  },
  props: {
    bill_lang: {
      required: true,
    },
  },
  computed: {
    ...mapState({
      name: (state) => state.cabinet.name,
      authorized: (state) => state.cabinet.authorized,
      bill: (state) => state.cabinet.bill,
    }),
  },
};
</script>

<style lang="scss"></style>
