<template>
  <div style="display: contents;">
    <a
      v-if="!authorized"
      href="javascript:void(0)"
      class="auth-link"
      @click="showLogin"
        >{{ auth_link_lang }} </a>
    <a v-else href="/cabinet">{{ auth_link_lang }}</a>
    <login :email_validations="email_validations" :lang="lang" :password_validations="password_validations"></login>
    <registration
      :email_validations="email_validations"
      :password_validations="password_validations"
      :name_validations="name_validations"
    ></registration>
    <forget :email_validations="email_validations" :lang="lang">
    </forget>
  </div>
</template>

<script>
import { mapState } from "vuex";
import Login from "../modal/Login.vue";
import Registration from "../modal/Registration.vue";
import Forget from "../modal/Forget.vue";
export default {
  components: {
    login: Login,
    registration: Registration,
    forget: Forget
  },
  props: {
    email_validations: {
      type: String,
      required: true,
    },
    password_validations: {
      type: String,
      required: true,
    },
    name_validations: {
      type: String,
      required: true,
    },
    auth_link_lang: {
      type: String,
      required: true,
    },
    another_page: {
        type:Boolean,
        required:true
    },
    lang: {
        type: String,
        required:true
    }
  },
  computed: {
    ...mapState({
      authorized: (state) => state.cabinet.authorized,
    }),
  },
  methods: {
    showLogin() {
      this.$modal.show("login");
    },
  },
  created() {
    this.$store.dispatch("cabinet/authCheck");

  },
  mounted() {
      if (this.another_page === true){
          this.$modal.show("login");
      }
  }
};
</script>

<style lang="scss"></style>
