<template>
  <div>

    <a href="/cart" role="button" class="cart-link">
        <div class="counter_div" >
            {{totalCount}}
        </div>
      <i class="fal fa-shopping-bag" style="font-size: 28px;"></i>
    </a>
  </div>
</template>

<script>
import {mapState, mapActions} from "vuex";

window.counter_new = 0;
if ( localStorage.getItem('counter') != null){
    window.counter_new = localStorage.getItem('counter')
}
export default {
    name : "CartButton",

    computed:{
        ...mapState({
            products: state => state.cart.products,

        }),
        totalCount() {
            let total = 0;
            for (const product of this.products) {
                total += parseInt(product.quantity);
            }
            return total.toLocaleString();
        },
        futureCount(){

        }
    },
    methods:{
        totalCounts() {
            let total = 0;
            for (const product of this.products) {
                total += parseInt(product.quantity);
            }
            return total.toLocaleString();
        },
    },
    created(){
            this.$store.dispatch("cart/fetchProducts")
            let total = 0;
            for (const product of this.products) {
                total += parseInt(product.quantity);
            }
            window.counter_new =  total.toLocaleString();
           setInterval(()=>{

               if(this.totalCount  != localStorage.getItem('counter') ){
                   this.$store.dispatch("cart/fetchProducts")
                   localStorage.setItem('counter',this.totalCount)
               }


           },1000)

    }
};
</script>

<style lang="css">
    .counter_div{
        position: absolute;
        margin-top: -10px;
        margin-left: -10px;
        color: #fff;
        z-index: 1;
        font-size:12px;
        width: 20px;
        height: 20px;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
</style>
